<style>
  .academy-reviews__container {
    padding: 100px 25px;
  }

  .academy-reviews__title {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 26px;
  }

  .academy-reviews__text {
    color: #111;
    text-align: center;
    margin: 0 auto 60px;
    max-width: 899px;
  }

  .academy-reviews__slide {
    text-align: center;
  }

  .academy-reviews__slide img {
    width: 246px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0 auto;
  }

  .academy-reviews__slideTitle {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 26.4px */
    text-transform: uppercase;
    margin: 30px 0 10px;
  }

  .academy-reviews__slideText {
    color: #111;
    text-align: center;
    margin: 0;
  }

  .swiper3 {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper3 .swiper-slide {
    height: auto;
  }

  .academy-reviews__slide>div {
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 250px;
    box-sizing: border-box;
  }

  .swiper-pagination3 {
    text-align: center;
    margin-top: 50px;
    display: none;
  }

  .swiper-wrapper__arrow1 {
    position: absolute;
    left: 250px;
    top: 50%;
    z-index: 9999;
  }

  .swiper-wrapper__arrow2 {
    position: absolute;
    right: 250px;
    top: 50%;
    z-index: 9999;
  }

  @media (max-width: 1280px) {
    .swiper-wrapper__arrow1 {
      display: none;
    }

    .swiper-wrapper__arrow2 {
      display: none;
    }

    .swiper-pagination3 {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .academy-reviews__slide>div {
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
    }

    .swiper3 .swiper-slide {
      height: auto;
      width: 100%;
      padding: 0 25px;
      box-sizing: border-box;
    }

    .swiper-pagination3 {
      margin-top: 20px;
    }
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<section class="academy-reviews">
  <div class="academy-reviews__container page-width">
    <h2 class="academy-reviews__title academy-reviews__anim1 heading">
      {{ 'sections.academyReviews.sectionTitle' | t }}
    </h2>
    <p class="academy-reviews__text academy-reviews__anim1 bodyText">
      {{ 'sections.academyReviews.subtitle' | t }}
    </p>

    <div class="swiper3 academy-reviews__anim2">
      <img class="swiper-wrapper__arrow1"
        src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Arrow_10.svg?v=1726811084" />
      <img class="swiper-wrapper__arrow2"
        src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Arrow_11.svg?v=1726811084" />

      <!-- Additional required wrapper -->
      <div class="academy-reviews__wrapper swiper-wrapper">

        <div class="academy-reviews__slide swiper-slide">
          <div>
            <img class="academy-reviews__slideImg"
              src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/academy-reviews-img1.png?v=1726213471" />
            <h3 class="academy-reviews__slideTitle">
              {{ 'sections.academyReviews.slide1title' | t }}
            </h3>
            <p class="academy-reviews__slideText bodyText">
              {{ 'sections.academyReviews.slide1text' | t }}
            </p>
          </div>
        </div>

        <div class="academy-reviews__slide swiper-slide">
          <div>
            <img class="academy-reviews__slideImg"
              src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/academy-reviews-img2.jpg?v=1726214549" />
            <h3 class="academy-reviews__slideTitle">
              {{ 'sections.academyReviews.slide2title' | t }}
            </h3>
            <p class="academy-reviews__slideText bodyText">
              {{ 'sections.academyReviews.slide2text' | t }}
            </p>
          </div>
        </div>

        <div class="academy-reviews__slide swiper-slide">
          <div>
            <img class="academy-reviews__slideImg"
              src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/academy-reviews-img3.jpg?v=1726214549" />
            <h3 class="academy-reviews__slideTitle">
              {{ 'sections.academyReviews.slide3title' | t }}
            </h3>
            <p class="academy-reviews__slideText bodyText">
              {{ 'sections.academyReviews.slide3text' | t }}
            </p>
          </div>
        </div>

      </div>

      <div class="swiper-pagination3"></div>

    </div>
  </div>
</section>

<script>
  const swiper3 = new Swiper('.swiper3', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    pagination: {
      el: '.swiper-pagination3',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-wrapper__arrow2',
      prevEl: '.swiper-wrapper__arrow1',
    },

    autoplay: {
      delay: 5000,
    },
  });
</script>

<script>

  const academyReviewsClasses = [
    '.academy-reviews__anim1',
    '.academy-reviews__anim2'
  ]

  academyReviewsClasses.forEach((cls) => {
    gsap.from(cls, {
      bottom: "-100",
      position: 'relative',
      opacity: 0,
      duration: 1,
      delay: 0.1,
      ease: "power3.out",
      stagger: 0.1,
      scrollTrigger: {
        trigger: cls,
        start: "top 80%",
      }
    })
  })

</script>