<style>
  .home-kkWay {
    position: relative;
    height: auto;
    aspect-ratio: 2.03/1;
  }

  .home-kkWay__container {
    display: grid;
    flex-direction: column;
    align-content: center;
    height: 100%;
    text-align: left;
    align-items: baseline;
    padding: 0 25px;
    position: relative;
    z-index: 2;
  }

  .home-kkWay__bgLeft {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: -10%;
    z-index: 1;
  }

  .home-kkWay__imgRight {
    position: absolute;
    top: 0;
    right: -7%;
    z-index: 0;
    object-fit: cover;
    object-position: right;
    height: 100%;
  }

  .home-kkWay span {
    color: #fff;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Playfair Display", serif;
    font-size: clamp(14px, 1.125vw, 18px);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .home-kkWay h2 {
    color: #FFF;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 10px 0 0;
  }

  .home-kkWay p {
    color: rgba(255, 255, 255, 0.70);
    text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 10px 0 60px;
  }

  .home-kkWay a {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 15px 70px;
    justify-content: baseline;
    align-items: baseline;
    gap: 10px;
    width: fit-content;
    border: 1px solid #FFF;
  }

  .home-kkWay__container .heading {
    max-width: 50%;
  }

  @media (max-width: 1024px) {
    .home-kkWay h2 {
      font-size: 3vw;
      margin-top: 10px;
    }

    .home-kkWay__container {
      padding: 50px 25px;
    }
  }

  @media (max-width: 768px) {
    .home-kkWay {
      aspect-ratio: 4/3;
      background: linear-gradient(to right, rgba(0, 0, 78, .9) 58.34%, rgba(0, 0, 78, .6) 76.78%);
    }

    .home-kkWay__bgLeft {
      display: block;
    }

    .home-kkWay__imgRight {
      right: -29%;
      z-index: 0;
    }

    .home-kkWay p {
      margin: 10px 0 20px;
      font-size: 3vw;
    }

    .home-kkWay a {
      padding: 0 0 5px 0;
      border: 0;
      border-bottom: 2px solid #fff;
    }

    .home-kkWay h2 {
      width: 60%;
      font-size: 3vw;
      text-wrap: balance;
    }

    .home-kkWay h2 br {
      display: none;
    }
  }
</style>

<section class="home-kkWay home-kkWay__animation1">
  <div class="page-width home-kkWay__container">
    <span>KAWASAKI way</span>
    <h2 class="heading">
      {{ 'sections.home-kawasaki-way.title1' | t }}<br>
      {{ 'sections.home-kawasaki-way.title2' | t }}<br>
      {{ 'sections.home-kawasaki-way.title3' | t }}
    </h2>
    <p>Kazumasa Kawasaki</p>
    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/kawasaki-way">{{ 'sections.home-kawasaki-way.button' | t }}</a>
  </div>

  <svg class="home-kkWay__bgLeft" xmlns="http://www.w3.org/2000/svg" width="1377" height="947" viewBox="0 0 1377 947"
    fill="none">
    <path
      d="M969 814C702.704 494.445 1431.9 110.847 1373.5 -101C1281.68 -434.076 1054.5 -257 425.5 -412C-203.5 -567 -126 144 -295 531.5C-464 919 -876.495 585.823 -384 991.5C387.5 1627 1672.75 1658.5 969 814Z"
      fill="url(#paint0_linear_595_1284)" />
    <defs>
      <linearGradient id="paint0_linear_595_1284" x1="576" y1="513" x2="995.499" y2="593.5"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#00004E" />
        <stop offset="1" stop-color="#00004E" stop-opacity="0.8" />
      </linearGradient>
    </defs>
  </svg>

  <img class="home-kkWay__imgRight"
    src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/3b041cdc6a82323b4f3ff2aacb9be1bd.jpg?v=1724401668" />

</section>