<style>
  .home-hero {
    position: relative;
    overflow: hidden;
  }

  .home-hero__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: calc(100vh - 90px);
    aspect-ratio: 2.11/1;
    width: 100%;
  }

  .home-hero__card {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
  }

  .home-hero__card:first-child {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Product_New_0903_HP.jpg?v=1725600033');
    background-size: 140%;
    background-position: bottom 0 right 0;
  }

  .home-hero__card:nth-child(2) {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/2b9f120aed568ee24846dcdfc21c31f7.jpg?v=1724394376');
    background-size: cover;
    background-position: center;
  }

  .home-hero__card:nth-child(3) {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/b6844c18f1ed35f2d9f2aa1368cde14e.jpg?v=1724394457');
    background-size: cover;
    background-position: center;
  }

  .home-hero__circle {
    width: 21.125vw;
    height: 21.125vw;
    flex-shrink: 0;
    border-radius: 100%;
    background: rgba(8, 5, 69, 0.80);
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    transition: .3s;
    padding-top: 83.33px;
    opacity: 0;
    bottom: -250px;
    position: relative;
  }

  .home-hero__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #FFF;
    margin: 30px auto 0;
    display: inline-block;
    opacity: 0;
  }

  .home-hero__circle:hover .home-hero__button {
    opacity: 1;
    transition: .4s;
  }
  
  .home-hero__circle:hover {
    width: 100%;
    height: 100%;
    border-radius: 0;
    transition: .2s;
  }

  .home-hero__circle h2 {
    color: #FFF;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: "Bodoni Moda", serif;
  }

  .home-hero__circle span {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Open Sans", sans-serif;
    font-size: 1.125vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .home-hero__bottom {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 196px;
    bottom: 0;
    transition: .3s;
  }

  .home-hero__wave1 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .home-hero__wave2 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .home-hero__logo {
    display: flex;
    position: absolute;
    bottom: 5vw;
    width: 100%;
    text-align: center;
    justify-content: center;
    transition: .3s;
  }

  .home-hero__logo img {
    width: 2.768vw;
  }

  .home-hero__bottomText {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 22.1px rgba(0, 0, 0, 0.40);
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin: 0 auto 20px;
    width: auto;
    transition: .3s;
    font-family: "Playfair Display", serif;
    left: calc(50% - 339.948px/2)
  }
  
  .home-hero__bottom.hovered {
    height: 100%;
    background-color: #00004E;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    transition: .3s;
  }

  .home-hero__bottom.hovered .home-hero__wave1,
  .home-hero__bottom.hovered .home-hero__wave2 {
    opacity: 0;
    transition: .3s;
  }

  .home-hero__bottom a {
    display: none;
    transition: .3s;
  }

  .home-hero__bottom.hovered .home-hero__logo {
    top: 0;
    bottom: unset;
    position: relative;
    transition: .3s;
    z-index: 9999;
  }

  .home-hero__bottom.hovered .home-hero__bottomText {
    position: relative;
    display: block;
    transition: .3s;
    z-index: 9999;
    width: 100%;
    left: unset;
  }
  
  .home-hero__bottom.hovered .home-hero__bottomText::after {
    content: '{{ 'sections.home-hero.kkWayContent' | t }}';
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: block;
    max-width: 500px;
    margin: 50px auto 0;
    letter-spacing: 0;
    text-transform: none !important;
    text-wrap: pretty;
    transition: .3s;
    z-index: 9999;
  }

  .home-hero__bottom.hovered a {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    transition: .3s;
    z-index: 9999;
  }

  @media (max-width: 1024px) {
    .home-hero__bottom {
      display: none !important;
    }
  }

  @media (orientation: portrait) {
    .home-hero__button {
      display: none;
    }

    .home-hero__main {
      display: flex;
      flex-direction: column;
      max-height: auto;
      aspect-ratio: unset;
      width: 100%;
    }

    .home-hero__circle {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      border-radius: 0;
      background: rgba(8, 5, 69, 0.80);
      display: grid;
      text-align: left;
      align-items: center;
      align-content: center;
      margin: 0 auto;
      aspect-ratio: 1/1;
      margin: 0;
      border-top-left-radius: 0;
      padding: 0;
    }

    .home-hero__card {
      aspect-ratio: 3/2;
      overflow: hidden;
    }

    .home-hero__circle h2 {
      color: #FFF;
      margin: 0 0 10px;
      text-align: center;
      text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
      font-family: "Bodoni Moda", serif;
      font-size: 7.5vw;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }

    .home-hero__circle span {
      color: #DF1616;
      text-align: center;
      text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
      font-family: "Bodoni Moda", serif;
      font-size: 2.5vw;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 1.62px;
      text-transform: uppercase;
    }

    .home-hero__bottomText {
      display: none;
    }

    .home-hero__logo {
      bottom: 0;
    }

    .home-hero__wave1,
    .home-hero__wave2 {
      height: 100px;
    }


    .home-hero__logo {
      bottom: 10px;
    }

    .home-hero__logo img {
      height: 48px;
      width: 100%;
    }
  }
</style>

<section class="home-hero">
  <div class="home-hero__main">
    <div class="home-hero__card">
      <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/products" class="home-hero__circle">
        <h2 class="heading">{{ 'sections.home-hero.heroCard1Title' | t }}</h2>
        <span>kazumasa kawasaki</span>
        <div class="home-hero__button">
          {{ 'sections.home-hero.card1Button' | t }}
        </div>
      </a>
    </div>
    <div class="home-hero__card">
      <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/spa" class="home-hero__circle">
        <h2 class="heading">{{ 'sections.home-hero.heroCard2Title' | t }}</h2>
        <span>kazumasa kawasaki</span>
        <div class="home-hero__button">
          {{ 'sections.home-hero.card2Button' | t }}
        </div>
      </a>
    </div>
    <div class="home-hero__card">
      <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/academy" class="home-hero__circle">
        <h2 class="heading">{{ 'sections.home-hero.heroCard3Title' | t }}</h2>
        <span>kazumasa kawasaki</span>
        <div class="home-hero__button">
          {{ 'sections.home-hero.card3Button' | t }}
        </div>
      </a>
    </div>
  </div>
  <div class="home-hero__bottom">
    <img class="home-hero__wave1"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-home-wave1.svg?v=1724821827" />
    <img class="home-hero__wave2"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-home-wave2.svg?v=1724821630" />
    <div class="home-hero__logo">
      <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/KAZU.svg?v=1724395912" />
    </div>

    <h3 class="home-hero__bottomText heading">KAWASAKI way</h3>

    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/kawasaki-way">{{ 'sections.home-hero.kkWayContentLink' | t }}</a>
  </div>
</section>

<script>
  // Select the elements
const bottomTextElement = document.querySelector('.home-hero__bottomText');
const bottomElement = document.querySelector('.home-hero__bottom');
const homeHeroElement = document.querySelector('.home-hero');

// Add hover effect when hovering over .home-hero__bottomText
bottomTextElement.addEventListener('mouseover', () => {
  bottomElement.classList.add('hovered'); // Add the hover effect
});

// Remove hover effect when mouse leaves .home-hero
homeHeroElement.addEventListener('mouseout', (event) => {
  // Ensure it's leaving the whole .home-hero, not child elements
  if (!homeHeroElement.contains(event.relatedTarget)) {
    bottomElement.classList.remove('hovered'); // Remove the hover effect
  }
});

</script>