<style>
  .home-academy {
    background: #F6F6F6;
    padding: 80px 0;
  }

  .home-academy__top {
    text-align: center;
  }

  .home-academy__topSub1 {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .home-academy__top h2 {
    color: #000;
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 10px 0;
  }

  .home-academy__topSub2 {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
  }

  .home-academy__middle {
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    padding: 0 8.563vw;
    gap: 8.563vw;
    margin: 70px 0;
    align-items: center;
  }

  .home-academy__middle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-academy__middle p {
    color: #111;
    margin: 0;
  }

  .home-academy__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 8.563vw;
    margin: 0 auto;
    column-gap: 40px;
  }

  .home-academy__bottomColumn {
    text-align: center;
    width: 233px;
  }

  .home-academy__bottomColumn h3 {
    color: #000;
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  .home-academy__bottomColumn p {
    color: #111;
    text-align: center;
    margin: 0;
  }

  .home-academy__cta {
    text-align: center;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-academy__cta h2 {
    color: #000;
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 0 0 40px;
  }

  .home-academy__cta a {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
    transition: .5s;
  }

  .home-academy__cta a:hover {
    background: #332CB1;
    color: #fff;
    transition: .5s;
  }

  .home-academy__buttons {
    display: flex;
    gap: 16px;
  }

  .home-academy__buttons a:nth-child(2) {
    border: 2px solid #332CB1;
    background: none;
    color: #332CB1;
  }
  
  .home-academy__buttons a:nth-child(2):hover {
    border: 2px solid #332CB1;
    background: #332CB1;
    color: #fff;
  }

  /* Laptop */
  @media screen and (max-width: 1024px) {
    .home-academy {
      padding: 50px 25px;
    }

    .home-academy__middle {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      gap: 40px;
      margin: 70px 0;
      align-items: center;
    }
  }

  /* Mobile */
  @media (orientation: portrait) {
    .home-academy__middle {
      display: flex;
      flex-direction: column;
    }

    .home-academy__middle img {
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    .home-academy__bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      align-items: center;
      gap: 20px;
    }

    .home-academy__bottomColumn {
      max-width: 100%;
      width: 100%;
      padding: 25px;
      background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
      border-radius: 10px;
    }

    .home-academy__cta h2 {
      font-size: 16px;
      line-height: 1.5;
    }

    .home-academy__buttons {
      flex-direction: column;
    }
  }
</style>

<section id="academySection" class="home-academy">
  <div class="home-academy__container page-width">
    <div class="home-academy__top">
      <span class="home-academy__topSub1 home-academy__animation1">
        {{ 'sections.home-academy.topTitle1' | t }}
      </span>
      <h2 class="home-academy__animation1 heading">KAZUMASA KAWASAKI</h2>
    </div>
    <div class="home-academy__middle">
      <img class="home-academy__animation2" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-home-academy.jpg?v=1724648347" width="100%" />
      <p class="home-academy__animation2 bodyText">
        {{ 'sections.home-academy.text1' | t }}
        <br><br>
        {{ 'sections.home-academy.text2' | t }}
      </p>
    </div>
    <div class="home-academy__bottom">
      <div class="home-academy__bottomColumn home-academy__animation3">
        <h3 class="heading">1,000+</h3>
        <p class="bodyText">
          {{ 'sections.home-academy.bottomText1' | t }}
        </p>
      </div>
      <div class="home-academy__bottomColumn home-academy__animation3">
        <h3 class="heading">30</h3>
        <p class="bodyText">
          {{ 'sections.home-academy.bottomText2' | t }}
        </p>
      </div>
      <div class="home-academy__bottomColumn home-academy__animation3">
        <h3 class="heading">4</h3>
        <p class="bodyText">
          {{ 'sections.home-academy.bottomText3' | t }}
        </p>
      </div>
    </div>
    <div class="home-academy__cta">
      <h2 class="home-academy__ctaTitle home-academy__animation4 heading">
        {{ 'sections.home-academy.ctaText1' | t }}
      <br>
        {{ 'sections.home-academy.ctaText2' | t }}
      </h2>
      <div class="home-academy__buttons">
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/academy-registration" class="home-academy__ctaButton">
          {{ 'sections.home-academy.button' | t }}
        </a>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/academy" class="home-academy__ctaButton">
          {{ 'sections.home-academy.button2' | t }}
        </a>
      </div>
    </div>
  </div>
</section>