<style>
  .home-spa__container {
    padding: 100px 25px;
  }

  .home-spa__top {
    text-align: center;
  }

  .home-spa__top span:first-child {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
  }

  .home-spa__top h2 {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
  }

  .home-spa__top span:nth-child(3) {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
  }

  .home-spa__middle {
    margin: 70px 0 40px;
    display: inline-grid;
    grid-template-columns: 1.25fr .75fr;
    gap: 6.063vw;
    align-items: center;
  }

  .home-spa__middle img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-spa__middleRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 8.625vw;
  }

  .home-spa__middleRight h3 {
    color: #000;
    font-family: "Open Sans";
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  .home-spa__middleRight p {
    color: #111;
    margin: 0 0 40px;
  }

  .home-spa__middleRight p i {
    color: #111;
    font-style: italic;
  }

  .home-spa__middleRight a {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  .home-spa__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .home-spa__bottom img {
    width: 100%;
  }

  /* Laptop */
  @media (max-width: 1024px) {
    .home-spa__middle {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
    }

    .home-spa__middleRight {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 0;
    }

    .home-spa__middle img {
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: right;
    }

    .home-spa__container {
      padding: 50px 25px;
    }
  }

  /* Mobile */
  @media (orientation: portrait) {
    .home-spa__middle {
      display: flex;
      flex-direction: column;
    }

    .home-spa__middle img {
      aspect-ratio: 4/3;
    }

    .home-spa__bottom {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      margin-top: 40px;
    }
  }
</style>

<section class="home-spa">
  <div class="home-spa__container page-width">
    <div class="home-spa__top">
      <span class="home-spa__animation1">
        {{ 'sections.home-spa.topTitle1' | t }}
      </span>
      <h2 class="home-spa__animation1 heading">KAZUMASA KAWASAKI</h2>
    </div>
    <div class="home-spa__middle">
      <img class="home-spa__animation2"
        src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/bac01882eda2c89c1b329392853945d2.jpg?v=1724643945" />
      <div class="home-spa__middleRight">
        <h3 style="display: none;" class="home-spa__animation2 heading">
          {{ 'sections.home-spa.colTitle' | t }}
        </h3>
        <p class="home-spa__animation2 bodyText">
          {{ 'sections.home-spa.colText1' | t }}
          <br><br>
          <i>{{ 'sections.home-spa.colText2' | t }}</i>
        </p>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/spa">
          {{ 'sections.home-spa.button' | t }}
        </a>
      </div>
    </div>
    <div class="home-spa__bottom">
      <img class="home-spa__animation3"
        src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/image_63.jpg?v=1724644743" />
      <img class="home-spa__animation3"
        src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/image_60.jpg?v=1724644743" />
      <img class="home-spa__animation3"
        src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/image_60-1.jpg?v=1724644743" />
    </div>
  </div>
</section>