<style>
  .home-products h2 {
    color: #000;
    text-align: center;
    font-family: "Trivia Serif Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .home-products p {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin: 0 auto;
    width: 60%;
  }

  .home-products__container {
    padding: 100px 0;
  }

  .home-products__cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
  }

  .home-products__item {
    width: 100%;
    text-align: center;
  }

  .home-products__item img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  .home-products__item h3 {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    margin: 0;
    padding: 10px 20px 15px;
  }

  .home-products__line {
    width: 96px;
    height: 1px;
    background: #000;
    display: block;
    margin: 0 auto 15px;
  }

  .home-products__item p {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }

  .home-products__item a {
    text-decoration: none;
  }

  .home-products__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    background: #00004E;
    margin: 50px auto 0;
    align-self: auto;
    position: relative;
    width: fit-content;
  }
</style>

<section class="home-products">
  <div class="page-width home-products__container">
    <h2>products</h2>
    <p>Crafted for a Beautiful, Healthy Life. Our products are designed to seamlessly support your journey to beauty and wellness, enhancing your daily routine with natural elegance.</p>
    <div class="home-products__cards">
      {% for product in collections['frontpage'].products limit: 4 %}
        <div class="home-products__item">
          <a href="{{ product.url }}">
            <img src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}">
            <h3>{{ product.title }}</h3>
            <span class="home-products__line"></span>
            <p>{{ product.price | money }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
    <a class="home-products__button">buy now</a>
  </div>
</section>