<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<style>
  /* ########## HERO ########## */
  .products-hero {
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .products-hero__container {
    padding: 100px 25px;
  }

  .products-hero__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 35%;
  }

  .products-hero__mobileBg {
    display: none;
  }

  .products-hero__blueBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    width: 75%;
    object-fit: cover;
    object-position: right;
  }

  .products-hero__picture {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: -2;
    right: -5%;
  }

  .products-hero__subtitle {
    color: #fff;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .products-hero__title {
    color: #FFF;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 5px 0 30px;
  }

  .products-hero__text {
    color: #FFF;
    margin: 0 0 60px;
  }

  .products-hero__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    height: 52px;
    padding: 15px 70px;
    align-items: center;
    gap: 10px;
    border: 1px solid #FFF;
    text-decoration: none;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper .swiper-slide {
    height: auto;
  }

  @media (max-width: 1280px) {
    .products-hero__title {
      font-size: 40px;
      line-height: 120%;
      margin: 5px 0 30px;
    }

    .products-hero__text {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 60px;
    }
  }

  @media (max-width: 1024px) {
    .products-hero__blueBg {
      width: 85%;
    }
  }

  @media (max-width: 768px) {
    .products-hero {
      align-items: baseline;
    }

    .products-hero__subtitle {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 1.26px;
      text-transform: uppercase;
    }

    .products-hero__text {
      font-size: 14px;
      line-height: 1.5;
      margin: 0 0 60px;
    }

    .products-hero__container {
      position: relative;
      padding: 50px 25px 250px;
    }

    .products-hero__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      text-align: center;
    }

    .products-hero__blueBg {
      display: none;
    }

    .products-hero__mobileBg {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: 100%;
      width: 100%;
      z-index: -1;
      object-fit: cover;
      object-position: bottom;
    }

    .products-hero__picture {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      object-fit: cover;
      height: 100%;
      z-index: -2;
      right: 0;
    }

    .swiper .swiper-slide:first-child .products-hero__picture,
    .swiper .swiper-slide:last-child .products-hero__picture {
      object-position: 80%;
    }
  }

  /* ########## INTRO ########## */
  .products-intro {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/bg_1.jpg?v=1724999756');
    background-size: cover;
    background-position: center;
  }

  .products-intro__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 25px;
    max-width: 812px;
  }

  .products-intro__subtitle {
    color: #DF1616;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .products-intro__title {
    color: #111;
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .products-intro__text {
    color: #111;
    text-align: center;
    margin: 0 0 50px;
  }

  .products-intro__link {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
    transition: .5s;
  }

  .products-intro__link:hover {
    background: #332CB1;
    color: #fff;
    transition: .5s;
  }

  /* Mobile */
  @media screen and (max-width: 600px) {
    .products-intro__title {
      font-size: 40px;
      line-height: 1.5;
    }

    .products-intro__text {
      font-size: 16px;
      line-height: 1.5;
    }

    .products-intro__container {
      padding: 100px 25px;
    }
  }

  /* ########## LOCATIONS ########## */
  .products-locations {
    padding: 100px 25px;
  }

  .products-locations__item {
    margin-right: 40px;
    cursor: pointer;
  }

  .products-locations__itemTitle {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  .products-locations__itemAddress {
    color: #111;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 40px;
  }

  .products-locations__line {
    display: block;
    width: 137px;
    height: 3px;
    background: #DF1616;
    transition: .3s;
  }

  .products-locations__container {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    gap: 40px;
  }

  .products-locations__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 600px;
    overflow-y: scroll;
  }

  .map {
    display: none;
  }

  .map.active {
    display: block;
  }

  .products-locations__item.active {
    background: #f2f2f2;
  }

  .products-locations__item.active .products-locations__line {
    width: 100%;
    transition: .3s;
  }

  .products-locations h2 {
    text-align: center;
    color: #000;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 0 auto 60px;
  }

  .products-locations__gMapLink {
    display: none;
  }

  @media (max-width: 600px) {
    .products-locations__gMapLink {
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      margin-top: 20px;
    }

    .products-locations__container {
      display: flex;
      flex-direction: column;
    }

    .products-locations__map {
      display: none;
    }

    .products-locations__list {
      display: flex;
      flex-direction: row;
      gap: 10px;
      height: 100%;
      overflow-x: scroll;
      margin-right: 100px;
      width: 100%;
      align-items: center;
    }

    .products-locations h2 {
      margin-bottom: 20px;
    }

    .products-locations__itemTitle {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
    }

    .products-locations {
      padding: 50px 25px;
    }

    .products-locations__item {
      margin-right: 0;
      cursor: pointer;
      min-width: 75vw;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
      padding: 20px;
      border-radius: 10px;
      height: 100%;
      align-self: stretch;
      height: auto;
      align-items: center;
      justify-content: center;
    }

    .products-locations__line {
      display: none;
    }

    .products-locations__itemAddress {
      margin: 0;
    }

    .products-locations__item.active {
      background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    }
  }

  /* ########## GUIDE ########## */
  .products-guide__title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .products-guide__subtitle {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 50px;
    max-width: 400px;
    text-wrap: pretty;
  }

  .products-guide__link {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  .products-guide__container img {
    width: 100%;
  }

  .products-guide__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 100px;
    align-items: center;
    padding: 100px 25px;
  }

  .products-guide__container>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Laptop */
  @media screen and (max-width: 1024px) {
    .products-guide__container {
      gap: 50px;
      align-items: center;
      padding: 50px 25px;
    }
  }

  /* Mobile */
  @media screen and (max-width: 600px) {
    .products-guide__container {
      gap: 40px;
      padding: 50px 25px;
    }

    .products-guide__subtitle {
      max-width: 100%;
    }
  }
</style>

{% comment %} <section class="products-hero">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide products-hero">
        <div class="products-hero__container page-width">
          <div class="products-hero__left">
            <span class="products-hero__subtitle products-hero__anim1">Kazumasa Kawasaki</span>
            <h1 class="products-hero__title products-hero__anim1 heading">
              {{ 'templates.products.heroSlide1Title' | t }}
            </h1>
            <p class="products-hero__text products-hero__anim1 bodyText">
              {{ 'templates.products.heroSlide1Text' | t }}
            </p>

            <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/products/kazumasa-kawasaki-essence" 
            class="products-hero__button">
              {{ 'templates.products.heroSlide1Button' | t }}
            </a>
            <img class="products-hero__mobileBg"
              src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/products-hero-mobile-bg.svg?v=1726642585" />
          </div>
        </div>
        <img class="products-hero__blueBg"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-products-hero-blue-background.svg?v=1724993611" />
        <img class="products-hero__picture"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/PMAWT5R9_output_0_1.jpg?v=1724995435" />
      </div>
      <div class="swiper-slide products-hero">
        <div class="products-hero__container page-width">
          <div class="products-hero__left">
            <span class="products-hero__subtitle">Kazumasa Kawasaki</span>
            <h1 class="products-hero__title heading">
              {{ 'templates.products.heroSlide2Title' | t }}
            </h1>
            <p class="products-hero__text bodyText">
              {{ 'templates.products.heroSlide2Text' | t }}
            </p>
            <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/products/kazumasa-kawasaki-cream" class="products-hero__button">
              {{ 'templates.products.heroSlide2Button' | t }}
            </a>
            <img class="products-hero__mobileBg"
              src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/products-hero-mobile-bg.svg?v=1726642585" />
          </div>
        </div>
        <img class="products-hero__blueBg"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-products-hero-blue-background.svg?v=1724993611" />
        {{ images['image_425.jpg'] | image_url: width: 1000 | image_tag: class: 'products-hero__picture' }}
      </div>
      <div class="swiper-slide products-hero">
        <div class="products-hero__container page-width">
          <div class="products-hero__left">
            <span class="products-hero__subtitle">Kazumasa Kawasaki</span>
            <h1 class="products-hero__title heading">
              {{ 'templates.products.heroSlide3Title' | t }}
            </h1>
            <p class="products-hero__text bodyText">
              {{ 'templates.products.heroSlide3Text' | t }}
            </p>
            <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/products/kazumasa-kawasaki-plant-fermentation-food" class="products-hero__button">
              {{ 'templates.products.heroSlide3Button' | t }}
            </a>
            <img class="products-hero__mobileBg"
              src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/products-hero-mobile-bg.svg?v=1726642585" />
          </div>
        </div>
        <img class="products-hero__blueBg"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-products-hero-blue-background.svg?v=1724993611" />
        <img class="products-hero__picture"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/slider3.png?v=1724997104" />
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</section> {% endcomment %}

<style>
  .productsHero {
    position: relative;
  }

  .productsHero__container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 20px 150px;
    z-index: 3;
    position: relative;
  }

  .productsHero__subtitle {
    color: #F32652;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
  }

  .productsHero__content {
    width: 600px;
  }

  .productsHero__titleBox {
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  .productsHero__title1,
  .productsHero__title2,
  .productsHero__title3 {
    position: absolute;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .productsHero__title2,
  .productsHero__title3 {
    bottom: -600px;
  }

  .productsHero__textBox {
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  .productsHero__text1,
  .productsHero__text2,
  .productsHero__text3 {
    position: absolute;
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .productsHero__text2,
  .productsHero__text3 {
    bottom: -600px;
  }

  .productsHero__text1 a,
  .productsHero__text2 a,
  .productsHero__text3 a {
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    height: 52px;
    padding: 15px 70px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #fff;
    margin: 40px 0 0;
    transition: .5s;
  }

  .productsHero__text1 a:hover,
  .productsHero__text2 a:hover,
  .productsHero__text3 a:hover {
    background: #fff;
    color: #00004E;
    transition: .5s;
  }

  .productsHero__backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 75vw;
    object-fit: cover;
    object-position: right;
  }

  .productsHero__img1,
  .productsHero__img2,
  .productsHero__img3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .productsHero__img2,
  .productsHero__img3 {
    opacity: 0;
  }

  .productsHero .controls {
    position: absolute;
    z-index: 3;
    bottom: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .productsHero .controls button.active {
    opacity: 1;
    transition: .3s;
    transform: scale(1.5);
  }
  
  .productsHero .controls button {
    width: 7.5px;
    height: 7.5px;
    background-color: #F32652;
    opacity: .5;
    color: #F32652;
    border: none;
    border-radius: 100px;
    transition: .3s;
  }

  @media (max-width: 1440px) {
    .productsHero__content {
      width: 500px;
    }

    .productsHero__title1,
    .productsHero__title2,
    .productsHero__title3 {
      font-size: 40px;
      line-height: 140%;
    }

    .productsHero__titleBox {
      height: 150px;
    }

    .productsHero__text1,
    .productsHero__text2,
    .productsHero__text3 {
      font-size: 14px;
    }
  }

  @media (max-width: 1279px) {
    .productsHero__content {
      width: 100%;
    }

    .productsHero__container {
      background: #00004ecc;
    }

    .productsHero__backgroundImg {
      display: none;
    }

    .productsHero__title1,
    .productsHero__title2,
    .productsHero__title3 {
      font-size: 24px;
      line-height: 28px;
    }

    .productsHero__titleBox {
      height: 60px;
    }

    .productsHero__text1,
    .productsHero__text2,
    .productsHero__text3 {
      font-size: 12px;
    }

    .productsHero__img1,
    .productsHero__img2,
    .productsHero__img3 {
      object-position: 80%;
    }
  }

  .products-progressBar1 {
    width: 0px;
    height: 5px;
    background: #F32652;
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 50px;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(255,0,0, .5);
  }
  
  .products-progressBar2 {
    width: 100px;
    height: 5px;
    background: #F32652;
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 50px;
    z-index: 10;
    opacity: .25;
    border-radius: 4px;
  }

  @media (max-width: 600px) {
    .productsHero .controls {
      right: 20px;
      width: auto;
      bottom: 20px;
    }

    .products-progressBar1,
    .products-progressBar2 {
      left: 20px;
      bottom: 20px;
    }
  }
</style>

<section class="productsHero">
  <div class="productsHero__container">
    <div class="productsHero__content">
      <span class="productsHero__subtitle">Kazumasa Kawasaki</span>
      <div class="productsHero__titleBox">
        <h1 class="productsHero__title1">
          {{ 'templates.products.heroSlide1Title' | t }}
        </h1>
        <h1 class="productsHero__title2">
          {{ 'templates.products.heroSlide2Title' | t }}
        </h1>
        <h1 class="productsHero__title3">
          {{ 'templates.products.heroSlide3Title' | t |  replace: 'htmlbr','<br>' }}
        </h1>
      </div>
      <div class="productsHero__textBox">
        <p class="productsHero__text1">
          {{ 'templates.products.heroSlide1Text' | t }}
        <br>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/products/kazumasa-kawasaki-essence">
          {{ 'templates.products.heroSlide1Button' | t }}
        </a>
        </p>
        <p class="productsHero__text2">
          {{ 'templates.products.heroSlide2Text' | t }}
        <br>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/products/kazumasa-kawasaki-cream">
          {{ 'templates.products.heroSlide1Button' | t }}
        </a>
        </p>
        <p class="productsHero__text3">
          {{ 'templates.products.heroSlide3Text' | t | replace: 'htmlbr','<br>' }}
        <br>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/products/kazumasa-kawasaki-plant-fermentation-food">
          {{ 'templates.products.heroSlide1Button' | t }}
        </a>
        </p>
      </div>
    </div>

    <div class="controls">
      <button id="group1Btn" data-label="group1Start"></button>
      <button id="group2Btn" data-label="group2Start"></button>
      <button id="group3Btn" data-label="group3Start"></button>
    </div>

    <span class="products-progressBar1"></span>
    <span class="products-progressBar2"></span>
  </div>

  <img class="productsHero__backgroundImg" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-products-hero-blue-background.svg?v=1724993611" >

  <img class="productsHero__img1" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/product.png?v=1734687804" />

  <img class="productsHero__img2" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/banners_0003_cream.png?v=1758264963" />

  <img class="productsHero__img3" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/slider3.png?v=1724997104" />

</section>

<script>

// Function to update active button
function setActiveButton(label) {

  progressBarAnimation()

  document.querySelectorAll(".controls button").forEach((button) => {
    button.classList.toggle("active", button.dataset.label === label);
  });
}

// Combined Timeline
var tlCombined = gsap.timeline({ repeat: -1 });

// Group 1 (Title 1, Text 1, Image 1 fades out)
tlCombined.add("group1Start") // Label for the start of group 1
  .call(() => setActiveButton("group1Start")) // Update active button
  .to([".productsHero__title1", ".productsHero__text1", ".productsHero__img1"], {
    bottom: '-600px',
    opacity: 0,
    duration: 0.75,
    delay: 7.5
  });

// Group 2 (Title 2, Text 2, Image 2 fades in)
tlCombined.add("group2Start") // Label for the start of group 2
  .call(() => setActiveButton("group2Start")) // Update active button
  .to([".productsHero__title2", ".productsHero__text2", ".productsHero__img2"], {
    bottom: 'auto',
    opacity: 1,
    duration: 1
  }, "<")
  .to([".productsHero__title2", ".productsHero__text2", ".productsHero__img2"], {
    bottom: '-600px',
    opacity: 0,
    duration: 0.75,
    delay: 7.5
  });

// Group 3 (Title 3, Text 3, Image 3 fades in)
tlCombined.add("group3Start") // Label for the start of group 3
  .call(() => setActiveButton("group3Start")) // Update active button
  .to([".productsHero__title3", ".productsHero__text3", ".productsHero__img3"], {
    bottom: 'auto',
    opacity: 1,
    duration: 1
  }, "<")
  .to([".productsHero__title3", ".productsHero__text3", ".productsHero__img3"], {
    bottom: '-600px',
    opacity: 0,
    duration: 0.75,
    delay: 7.5
  });

// Return to Group 1
tlCombined.to([".productsHero__title1", ".productsHero__text1", ".productsHero__img1"], {
  bottom: 'auto',
  opacity: 1,
  duration: 1
}, "<");

// Get button elements
const buttons = document.querySelectorAll(".controls button");

// Function to update active button class
function updateActiveButton(activeLabel) {

  buttons.forEach((button) => {
    if (button.dataset.label === activeLabel) {
      button.classList.add("active");
    } else {
      button.classList.remove("active");
    }
  });
}

// Button controls
document.getElementById("group1Btn").addEventListener("click", function () {
  tlCombined.seek("group1Start").play();
  updateActiveButton("group1Start");
});

document.getElementById("group2Btn").addEventListener("click", function () {
  tlCombined.seek("group2Start").play();
  updateActiveButton("group2Start");
});

document.getElementById("group3Btn").addEventListener("click", function () {
  tlCombined.seek("group3Start").play();
  updateActiveButton("group3Start");
});

const progressBarAnimation = () => {

  const newTl = gsap.timeline()

  newTl.to(".products-progressBar1", {
    width: "0",
    duration: .2
  })

  newTl.to(".products-progressBar1", {
    width: "100px",
    duration: 8.5
  })
}

</script>

<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    autoplay: {
      delay: 5000,
    }
  });
</script>

<section class="products-intro">
  <div class="products-intro__container page-width">
    <span class="products-intro__subtitle products-intro__anim1">Kazumasa Kawasaki</span>
    <h2 class="products-intro__title products-intro__anim1 heading">
      {{ 'templates.products.introTitle' | t }}
    </h2>
    <p class="products-intro__text products-intro__anim1 bodyText">
      {{ 'templates.products.introText' | t }}
    </p>
    {% comment %} <a href="#products" class="products-intro__link">
      {{ 'templates.products.introButton' | t }}
    </a> {% endcomment %}
  </div>
</section>

<style>
  .home-products h2 {
    color: #000;
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .home-products p {
    color: #111;
    text-align: center;
    margin: 0 auto;
    width: 60%;
  }

  .home-products__container {
    padding: 100px 0;
  }

  .home-products__cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
  }

  .home-products__item {
    width: 100%;
    text-align: center;
  }

  .home-products__item img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  .home-products__item h3 {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 10px 20px 15px;
  }

  .home-products__line {
    width: 96px;
    height: 1px;
    background: #000;
    display: block;
    margin: 0 auto 15px;
  }

  .home-products__item p {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
  }

  .home-products__item a {
    text-decoration: none;
  }

  .home-products__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    background: #00004E;
    margin: 50px auto 0;
    align-self: auto;
    position: relative;
    width: fit-content;
  }

  .products-productLink {
    color: #00004E;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 35px;
    border-bottom: 2px solid #00004E;
    padding-bottom: 5px;
    transition: .5s;
  }

  .products-productLink:hover {
    border-color: transparent;
    transition: .5s;
  }

  /* Laptop */
  @media screen and (max-width: 1024px) {
    .home-products__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .home-products__container {
      padding: 50px 25px;
    }
  }

  /* Mobile */
  @media screen and (max-width: 600px) {
    .home-products p {
      width: 100%;
      font-size: 16px;
      line-height: 1.5;
    }

    .home-products__cards {
      gap: 20px;
    }

    .home-products__item h3 {
      font-size: 16px;
    }
  }
</style>

<section id="products" class="home-products">
  <div class="page-width home-products__container">
    <h2 class="home-products__anim1 heading">
      {{ 'templates.products.collectionTitle' | t }}
    </h2>
    <p class="home-products__anim1 bodyText">
      {{ 'templates.products.collectionText' | t |  replace: 'htmlbr','<br>' }}
    </p>
    {% render 'products-row' %}
  </div>
</section>

<section class="products-locations">
  <h2 class="page-width products-locations__anim1 heading">
    {{ 'templates.products.shopListTitle' | t }}
  </h2>
  <div class="products-locations__container page-width">
    <div class="products-locations__list products-locations__anim1">
      
      <div class="products-locations__item" data-index="0">
        <h3 class="products-locations__itemTitle">NEODERME MONACO (MONACO)</h3>
        <p class="products-locations__itemAddress">3 Rue Plati, 98000 Monaco<br>contact@kazumasakawasaki.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/QTknMfJEV48mjMvX9" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>
      <div class="products-locations__item" data-index="1">
        <h3 class="products-locations__itemTitle">Pharmacy G.Marsan (MONACO)</h3>
        <p class="products-locations__itemAddress">1 Rue Grimaldi, 98000 Monaco<br>+377 93 30 21 01</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/u5MSTuR43uMhrBU16" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>
      
      <div class="products-locations__item" data-index="2">
        <h3 class="products-locations__itemTitle">The Sanchaya (INDONESIA)</h3>
        <p class="products-locations__itemAddress">Lagoi Bay, Bintan, Riau Islands, Indonesia<br>www.thesanchaya.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/ubU4y5upiS5o3ELh9" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>
      
      <div class="products-locations__item" data-index="3">
        <h3 class="products-locations__itemTitle">ST. GREGORY SPA PARKROYAL on Pickering (SINGAPORE)</h3>
        <p class="products-locations__itemAddress">3 Upper Pickering Street, Level 5, Singapore 058289<br>+65 6809
          8870<br>www.stgregoryspa.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/TKE89hvVei5hV7gWA" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>
    </div>
    <div class="products-locations__map products-locations__anim1">

      <iframe class="map" data-index="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.9744190955416!2d7.413653377472751!3d43.73185827109859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdc2f2aa11f1f7%3A0x865ee65963ef082e!2s3%20Rue%20Plati%2C%2098000%20Monaco!5e0!3m2!1sen!2sjp!4v1725002009249!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="1"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.9275997544287!2d7.416112877472765!3d43.73283087109858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdc28d72d426f3%3A0x7b4112f12cbf9d10!2s1%20Rue%20Grimaldi%2C%2098000%20Monaco!5e0!3m2!1sen!2sjp!4v1725003040223!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.904415274843!2d104.362511575855!3d1.1772822309833422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31dbd5f97bb0fea1%3A0xcc1356fcbd567b86!2sPublic%20Lagoi%20Bay!5e0!3m2!1sen!2sjp!4v1725003239544!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="3"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.813782077765!2d103.84355407675284!3d1.2857407987020455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190b152d690b%3A0xcceead8c67161ae3!2s3%20Upper%20Pickering%20St%2C%20Level%205%2C%20Singapore%20058289!5e0!3m2!1sen!2sjp!4v1725003433703!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <script>
    // Function to update the active map and address
    function updateActiveMap(index) {
      // Remove 'active' class from all maps
      document.querySelectorAll('.map').forEach(map => {
        map.classList.remove('active');
      });

      // Remove 'active' class from all address items
      document.querySelectorAll('.products-locations__item').forEach(item => {
        item.classList.remove('active');
      });

      // Add 'active' class to the selected map
      document.querySelector('.map[data-index="' + index + '"]').classList.add('active');

      // Add 'active' class to the selected address item
      document.querySelector('.products-locations__item[data-index="' + index + '"]').classList.add('active');
    }

    // Set the first map and address as active by default
    updateActiveMap(0);

    // Add click event listener to all address items
    document.querySelectorAll('.products-locations__item').forEach(address => {
      address.addEventListener('click', function () {
        let index = this.getAttribute('data-index');
        updateActiveMap(index);
      });
    });
  </script>
</section>

<section style="display: none;" class="products-guide">
  <div class="products-guide__container page-width">
    <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/shoppingguide.png?v=1725004328" />
    <div>
      <h2 class="products-guide__title">Shopping Guide</h2>
      <p class="products-guide__subtitle">For essential payment and shipping information, please consult our
        comprehensive shopping guide.</p>
      <a class="products-guide__link">shopping guide</a>
    </div>
  </div>
</section>

{% section 'kk-way' %}

<script>
  gsap.from(".products-hero__anim1", {
    bottom: "-100", // camelCase
    position: 'relative',
    opacity: 0,
    duration: 1, // seconds
    delay: 0.1,
    ease: "power3.out",
    stagger: 0.1, // stagger start times
    scrollTrigger: {
      trigger: ".products-hero__anim1",
      start: "top 80%",
    }
  });

  gsap.from(".products-intro__anim1", {
    bottom: "-100", // camelCase
    position: 'relative',
    opacity: 0,
    duration: 1, // seconds
    delay: 0.1,
    ease: "power3.out",
    stagger: 0.1, // stagger start times
    scrollTrigger: {
      trigger: ".products-intro__anim1",
      start: "top 80%",
    }
  });

  gsap.from(".home-products__anim1", {
    bottom: "-100", // camelCase
    position: 'relative',
    opacity: 0,
    duration: 1, // seconds
    delay: 0.1,
    ease: "power3.out",
    stagger: 0.1, // stagger start times
    scrollTrigger: {
      trigger: ".home-products__anim1",
      start: "top 80%",
    }
  });

  gsap.from(".products-locations__anim1", {
    bottom: "-100", // camelCase
    position: 'relative',
    opacity: 0,
    duration: 1, // seconds
    delay: 0.1,
    ease: "power3.out",
    stagger: 0.1, // stagger start times
    scrollTrigger: {
      trigger: ".products-locations__anim1",
      start: "top 80%",
    }
  });
</script>