<style>
  .locations-hero__container {
    padding: 0 25px;
  }

  .locations-hero__title {
    color: #111;
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 50px auto 170px;
  }

  @media (max-width: 768px) {
    .locations-hero__title {
      font-size: 40px;
      line-height: 1;
      margin: 50px auto 100px;
    }
  }

  /* SHOP LIST */
  .locations-shopList__container {
    padding: 0;
  }

  .locations-shopList__title {
    color: #000;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 0 0 40px;
    padding-bottom: 20px;
    border-bottom: 3px solid #DF1616;
    display: inline-block;
  }

  .products-locations__container:nth-child(2) {
    margin-bottom: 100px;
  }

  .locations-shopList__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 0 90px;
  }

  .locations-shopList__gridItemTitle {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  .locations-shopList__gridItemText {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  @media (max-width: 768px) {
    .locations-shopList__grid {
      grid-template-columns: 1fr;
      gap: 40px;
      margin: 0 0 90px;
    }

    .locations-shopList__title {
      font-size: 32px;
      line-height: 1;
      margin: 0 0 40px;
    }

    .products-locations__list > h3 {
      display: none;
    }
  }

  /* PRODUCTS */
  section#products {
    background: #F6F6F6;
  }

  /* ########## LOCATIONS ########## */
  .products-locations {
    padding: 0 25px 100px;
  }

  .products-locations__item,
  .products-locations__item1 {
    margin-right: 40px;
    cursor: pointer;
  }

  .products-locations__itemTitle {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 30.8px */
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  .products-locations__itemAddress {
    color: #111;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 0 0 40px;
  }

  .products-locations__line {
    display: block;
    width: 137px;
    height: 3px;
    background: #DF1616;
    transition: .3s;
  }

  .products-locations__container {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    gap: 40px;
  }

  .products-locations__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 600px;
    overflow-y: scroll;
  }

  .map,
  .map1 {
    display: none;
  }

  .map.active,
  .map1.active {
    display: block;
  }

  .products-locations__item.active,
  .products-locations__item1.active {
    background: #f2f2f2;
  }

  .products-locations__item.active .products-locations__line,
  .products-locations__item1.active .products-locations__line {
    width: 100%;
    transition: .3s;
  }

  .products-locations h2 {
    text-align: center;
    color: #000;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 0 auto 60px;
  }

  .products-locations__gMapLink {
    display: none;
  }

  @media (orientation: portrait) {
    .products-locations__gMapLink {
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      margin-top: 20px;
    }

    .products-locations__container {
      display: flex;
      flex-direction: column;
    }

    .products-locations__map {
      display: none;
    }

    .products-locations__list {
      display: flex;
      flex-direction: row;
      gap: 10px;
      height: 100%;
      overflow-x: scroll;
      margin-right: 100px;
      width: 100%;
      align-items: center;
    }

    .products-locations h2 {
      margin-bottom: 20px;
    }

    .products-locations__itemTitle {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
    }

    .products-locations {
      padding: 50px 25px;
    }

    .products-locations__item,
    .products-locations__item1 {
      margin-right: 0;
      cursor: pointer;
      min-width: 75vw;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
      padding: 20px;
      border-radius: 10px;
      height: 100%;
      align-self: stretch;
      height: auto;
      align-items: center;
      justify-content: center;
    }

    .products-locations__line {
      display: none;
    }

    .products-locations__itemAddress {
      margin: 0;
    }

    .products-locations__item.active,
    .products-locations__item1.active {
      background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    }
  }
</style>

<section class="locations-hero">
  <section class="locations-hero__container page-width">
    <h1 class="locations-hero__title locations-hero__anim1 heading">
      {{ 'templates.locations.hero.title' | t }}
    </h1>
  </section>
</section>

<section class="products-locations">
{% comment %} SHOP {% endcomment %}
  <div class="locations-shopList__container page-width">
    <h2 class="locations-shopList__title locations-shopList__anim1 heading">
      {{ 'templates.locations.shopList' | t }}
    </h2>
  </div>
  <div class="products-locations__container page-width">
    <div class="products-locations__list products-locations__anim1">
      <h3>MONACO</h3>
      <div class="products-locations__item1" data-index="0">
        <h3 class="products-locations__itemTitle">NEODERME MONACO</h3>
        <p class="products-locations__itemAddress">3 Rue Plati, 98000 Monaco<br>contact@kazumasakawasaki.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/2QeZ1mHYpL8P8CqQ6" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>

      <div class="products-locations__item1" data-index="1">
        <h3 class="products-locations__itemTitle">Pharmacy G.Marsan</h3>
        <p class="products-locations__itemAddress">1 Rue Grimaldi, 98000 Monaco<br>+377 93 30 21 01</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/ofYVbmT9EJaDZU6L7" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>
      
      <h3>SINGAPORE</h3>
      <div class="products-locations__item1" data-index="2">
        <h3 class="products-locations__itemTitle">ST. GREGORY SPA PARKROYAL on Pickering</h3>
        <p class="products-locations__itemAddress">3 Upper Pickering Street, Level 5, Singapore 058289<br>+65 6809 8870<br>www.stgregoryspa.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/BQ6q2fQ8ybMrG7dDA" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>

    </div>

    <div class="products-locations__map products-locations__anim1">
        <iframe class="map1" data-index="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.974419095545!2d7.413653377472713!3d43.731858271098524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdc2f2aa11f1f7%3A0x865ee65963ef082e!2s3%20Rue%20Plati%2C%2098000%20Monaco!5e0!3m2!1sen!2sjp!4v1733367433970!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        <iframe class="map1" data-index="1"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.9275997544355!2d7.4161128774727905!3d43.73283087109843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdc28d72d426f3%3A0x7b4112f12cbf9d10!2s1%20Rue%20Grimaldi%2C%2098000%20Monaco!5e0!3m2!1sen!2sjp!4v1733367588460!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        <iframe class="map1" data-index="2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.813782077765!2d103.8435540767529!3d1.2857407987020455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190b152d690b%3A0xcceead8c67161ae3!2s3%20Upper%20Pickering%20St%2C%20Level%205%2C%20Singapore%20058289!5e0!3m2!1sen!2sjp!4v1733368108881!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>

    <script>
    // Function to update the active map and address
    function updateActiveMap1(index) {
      // Remove 'active' class from all maps
      document.querySelectorAll('.map1').forEach(map => {
        map.classList.remove('active');
      });

      // Remove 'active' class from all address items
      document.querySelectorAll('.products-locations__item1').forEach(item => {
        item.classList.remove('active');
      });

      // Add 'active' class to the selected map
      document.querySelector('.map1[data-index="' + index + '"]').classList.add('active');

      // Add 'active' class to the selected address item
      document.querySelector('.products-locations__item1[data-index="' + index + '"]').classList.add('active');
    }

    // Set the first map and address as active by default
    updateActiveMap1(0);

    // Add click event listener to all address items
    document.querySelectorAll('.products-locations__item1').forEach(address => {
      address.addEventListener('click', function () {
        let index = this.getAttribute('data-index');
        updateActiveMap1(index);
      });
    });
  </script>
  </div>

{% comment %} SALON {% endcomment %}
  <div class="locations-shopList__container page-width">
    <h2 class="locations-shopList__title locations-shopList__anim1 heading">
      {{ 'templates.spa.salonList.title' | t }}
    </h2>
  </div>
  <div class="products-locations__container page-width">
    <div class="products-locations__list products-locations__anim1">
      <h3>JAPAN</h3>
      <div class="products-locations__item" data-index="0">
        <h3 class="products-locations__itemTitle">Le Spa de KAZUMASA KAWASAKI</h3>
        <p class="products-locations__itemAddress">
          {% if shop.locale == 'en' %}
          1-3-1-B1F, Ginza, Chuo-ku, Tokyo, 10400061
          {% else %}
          〒104-0061 東京都中央区銀座１丁目３−１ 銀座富士屋ビル B1
          {% endif %}
        </p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/GcLRj1qnFf9n68Ma8" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>

      <h3>SINGAPORE</h3>
      <div class="products-locations__item" data-index="1">
        <h3 class="products-locations__itemTitle">ST. GREGORY SPA PARKROYAL on Pickering</h3>
        <p class="products-locations__itemAddress">3 Upper Pickering Street, Level 5, Singapore 058289<br>+65 6809
          8870<br>www.stgregoryspa.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/TKE89hvVei5hV7gWA" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>
    </div>
    <div class="products-locations__map products-locations__anim1">
      <iframe class="map" data-index="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.0658392640516!2d139.76134159417296!3d35.67538080191248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188be4ec05c373%3A0xb250760d376c4272!2z44CSMTA0LTAwNjEgVG9reW8sIENodW8gQ2l0eSwgR2luemEsIDEtY2jFjW1l4oiSM-KIkjEg6YqA5bqn5a-M5aOr5bGL44OT44OrIGIxZg!5e0!3m2!1sen!2sjp!4v1734685445968!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="1"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.813782077765!2d103.84355407675301!3d1.2857407987020455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190b152d690b%3A0xcceead8c67161ae3!2s3%20Upper%20Pickering%20St%2C%20Level%205%2C%20Singapore%20058289!5e0!3m2!1sen!2sjp!4v1725266795023!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <script>
    // Function to update the active map and address
    function updateActiveMap(index) {
      // Remove 'active' class from all maps
      document.querySelectorAll('.map').forEach(map => {
        map.classList.remove('active');
      });

      // Remove 'active' class from all address items
      document.querySelectorAll('.products-locations__item').forEach(item => {
        item.classList.remove('active');
      });

      // Add 'active' class to the selected map
      document.querySelector('.map[data-index="' + index + '"]').classList.add('active');

      // Add 'active' class to the selected address item
      document.querySelector('.products-locations__item[data-index="' + index + '"]').classList.add('active');
    }

    // Set the first map and address as active by default
    updateActiveMap(0);

    // Add click event listener to all address items
    document.querySelectorAll('.products-locations__item').forEach(address => {
      address.addEventListener('click', function () {
        let index = this.getAttribute('data-index');
        updateActiveMap(index);
      });
    });
  </script>
</section>

{% section 'home-products' %}

{% comment %} KK WAY {% endcomment %}
<style>
  /* ########## KK WAY ########## */
  .products-kkWay__container {
    text-align: center;
    padding: 100px 25px;
  }

  .products-kkWay__title {
    color: #000;
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .products-kkWay__text {
    color: #111;
    text-align: center;
    margin: 0 auto 60px;
    max-width: 700px;
  }

  .products-kkWay__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .products-kkWay__item {
    aspect-ratio: 5/6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .products-kkWay__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .products-kkWay__cardTitle {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  .products-kkWay__cardSubtitle {
    color: #F32652;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  .products-kkWay__cardBottom {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #1C1952;
  }

  @media (max-width: 1024px) {
    .products-kkWay__cardTitle {
      font-size: 2vw;
      line-height: 1.25;
    }

    .products-kkWay__cardSubtitle {
      font-size: 1vw;
    }

    .products-kkWay__cards {
      gap: 10px;
    }
  }

  @media (max-width: 600px) {
    .products-kkWay__container {
      padding: 50px 25px;
    }

    .products-kkWay__cardTitle {
      font-size: 24px;
    }

    .products-kkWay__cardSubtitle {
      font-size: 14px;
    }

    .products-kkWay__text {
      font-size: 16px;
      line-height: 1.5;
    }

    .products-kkWay__cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
</style>

<section class="products-kkWay"></section>
<div class="products-kkWay__container page-width">
  <h2 class="products-kkWay__title products-kkWay__anim1 heading">
    {{ 'templates.locations.kkWay.title' | t }}
  </h2>
  <p class="products-kkWay__text products-kkWay__anim1 bodyText">
    {{ 'templates.locations.kkWay.subtitle' | t }}
  </p>
  <div class="products-kkWay__cards">
    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/products" class="products-kkWay__item products-kkWay__anim2">
      {{ images['0864fe80dc0cfddd09fc6ec53621482b.png'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">
          {{ 'templates.locations.kkWay.card1title' | t }}
        </h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/spa" class="products-kkWay__item products-kkWay__anim2">
      {{ images['4b09b60a99c28451d9171ba20c1b8841.png'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">
          {{ 'templates.locations.kkWay.card2title' | t }}
        </h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/academy" class="products-kkWay__item products-kkWay__anim2">
      {{ images['kk-diplo.jpg'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">
          {{ 'templates.locations.kkWay.card3title' | t }}
        </h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
  </div>
</div>
</section>
{% comment %} KK WAY {% endcomment %}

<script>

  const classes = [
    '.locations-hero__anim1',
    '.locations-shopList__anim1',
    '.locations-shopList__anim2',
    '.products-kkWay__anim1',
    '.products-kkWay__anim2'
  ]

  classes.forEach((cls) => {
    gsap.from(cls, {
      bottom: "-100",
      position: 'relative',
      opacity: 0,
      duration: 1,
      delay: 0.1,
      ease: "power3.out",
      stagger: 0.1,
      scrollTrigger: {
        trigger: cls,
        start: "top 80%",
      }
    })
  })

</script>