<style>
  .faq-accordion__title {
    color: #111;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
  }

  .faq-accordion__category {
    margin: 60px 0 20px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
  }

  .faq-accordion__container {
    padding: 100px 25px;
    color: #000;
  }

  .faq-accordion .collapse {
    border-radius: 0;
    background: #F6F6F6;
    padding: 25px;
  }

  .faq-accordion .collapse:not(:last-child) {
    margin-bottom: 10px;
  }

  .faq-accordion .collapse-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .faq-accordion .collapse h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 10px 0;
  }

  .faq-accordion .collapse-content p {
    margin-bottom: 20px;
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  @media (max-width: 600px) {
    .faq-accordion__container {
      padding: 50px 25px;
    }

    .faq-accordion__title {
      font-size: 40px;
    }

    .faq-accordion__category {
      margin: 40px 0 20px;
      font-size: 32px;
    }

    .faq-accordion .collapse-title {
      font-size: 18px;
    }

    .faq-accordion .collapse h3 {
      font-size: 16px;
    }

    .faq-accordion .collapse-content p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
</style>

<section class="faq-accordion">
  <div class="faq-accordion__container page-width">
    <h1 class="faq-accordion__title faq-accordion__anim1 heading">FAQ</h1>
    <h2 class="faq-accordion__category heading">
      {{ 'templates.FAQ.shoppingGuide.sectionTitle' | t }}
    </h2>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ1.mainTitle' | t }}
      </div>
      <div class="collapse-content">
        <h3 class="faq-accordion__subtitle">
          {{ 'templates.FAQ.shoppingGuide.FAQ1.title1' | t }}
        </h3>
        <p>{{ 'templates.FAQ.shoppingGuide.FAQ1.text1' | t }}</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ2.mainTitle' | t }}
      </div>
      <div class="collapse-content">
        <h3 class="faq-accordion__subtitle">
          {{ 'templates.FAQ.shoppingGuide.FAQ2.title1' | t }}
        </h3>
        <p>
          {{ 'templates.FAQ.shoppingGuide.FAQ2.text1' | t }}
        </p>
        <h3 class="faq-accordion__subtitle">
          {{ 'templates.FAQ.shoppingGuide.FAQ2.title2' | t }}
        </h3>
        <p>
          {{ 'templates.FAQ.shoppingGuide.FAQ2.text2' | t }}
        </p>
        <h3>
          {{ 'templates.FAQ.shoppingGuide.FAQ2.title3' | t }}
        </h3>
        <p>
          {{ 'templates.FAQ.shoppingGuide.FAQ2.text3' | t }}
        </p>
        <h3>
          {{ 'templates.FAQ.shoppingGuide.FAQ2.title4' | t }}
        </h3>
        <p>
          {{ 'templates.FAQ.shoppingGuide.FAQ2.text4' | t }}
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ3.mainTitle' | t }}
      </div>
      <div class="collapse-content">
        <h3 class="faq-accordion__subtitle">
          {{ 'templates.FAQ.shoppingGuide.FAQ3.title1' | t }}
        </h3>
        <p>
          {{ 'templates.FAQ.shoppingGuide.FAQ3.text1' | t }}
        </p>
        <h3>
          {{ 'templates.FAQ.shoppingGuide.FAQ3.title2' | t }}
        </h3>
        <p>
          {{ 'templates.FAQ.shoppingGuide.FAQ3.text2' | t }}
        </p>
        <h3>
          {{ 'templates.FAQ.shoppingGuide.FAQ3.title3' | t }}
        </h3>
        <p>
          {{ 'templates.FAQ.shoppingGuide.FAQ3.text3' | t }}
        </p>
        <h3>
          {{ 'templates.FAQ.shoppingGuide.FAQ3.title4' | t }}
        </h3>
        <p>
          {{ 'templates.FAQ.shoppingGuide.FAQ3.text4' | t | replace: 'htmlbr', '<br>' }}
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ4.title' | t }}
      </div>
      <div class="collapse-content">
        {{ 'templates.FAQ.shoppingGuide.FAQ4.content' | t | replace: 'htmlbr', '<br>' | replace: 'htmlb', '<b>' | replace: 'html/b', '</b>' }}
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ5.title' | t }}
      </div>
      <div class="collapse-content">
        {{ 'templates.FAQ.shoppingGuide.FAQ5.content' | t | replace: 'htmlbr', '<br>' | replace: 'htmlb', '<b>' | replace: 'html/b', '</b>'}}
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ6.title' | t }}
      </div>
      <div class="collapse-content">
        {{ 'templates.FAQ.shoppingGuide.FAQ6.content' | t | replace: 'htmlbr', '<br>' | replace: 'htmlb', '<b>' | replace: 'html/b', '</b>'}}
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ7.title' | t }}
      </div>
      <div class="collapse-content">
        {{ 'templates.FAQ.shoppingGuide.FAQ7.content' | t | replace: 'htmlbr', '<br>' | replace: 'htmlb', '<b>' | replace: 'html/b', '</b>'}}
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ8.title' | t }}
      </div>
      <div class="collapse-content">
          {{ 'templates.FAQ.shoppingGuide.FAQ8.content' | t }}
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.shoppingGuide.FAQ9.title' | t }}
      </div>
      <div class="collapse-content">
        {{ 'templates.FAQ.shoppingGuide.FAQ9.content' | t | replace: 'htmlbr', '<br>' | replace: 'htmlb', '<b>' | replace: 'html/b', '</b>'}}
      </div>
    </div>

    <h2 class="faq-accordion__category heading">
      {{ 'templates.FAQ.academy.sectionTitle' | t }}
    </h2>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.academy.FAQ1.title' | t }}
      </div>
      <div class="collapse-content">
        {{ 'templates.FAQ.academy.FAQ1.content' | t | replace: 'htmlbr', '<br>' | replace: 'htmlb', '<b>' | replace: 'html/b', '</b>'}}
      </div>
    </div>

    <h2 class="faq-accordion__category heading">
      {{ 'templates.FAQ.spa.sectionTitle' | t }}
    </h2>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.spa.FAQ1.title' | t }}
      </div>
      <div class="collapse-content">
        {{ 'templates.FAQ.spa.FAQ1.content' | t | replace: 'htmlbr', '<br>' | replace: 'htmlb', '<b>' | replace: 'html/b', '</b>'}}
      </div>
    </div>

    <h2 class="faq-accordion__category heading">
      {{ 'templates.FAQ.general.sectionTitle' | t }}
    </h2>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        {{ 'templates.FAQ.general.FAQ1.title' | t }}
      </div>
      <div class="collapse-content">
        {{ 'templates.FAQ.general.FAQ1.content' | t | replace: 'htmlbr', '<br>' | replace: 'htmlb', '<b>' | replace: 'html/b', '</b>'}}
      </div>
    </div>
  </div>
</section>

<script>

  const classes = [
    '.faq-accordion__anim1',
  ]

  classes.forEach((cls) => {
    gsap.from(cls, {
      bottom: "-100",
      position: 'relative',
      opacity: 0,
      duration: 1,
      delay: 0.1,
      ease: "power3.out",
      stagger: 0.1,
      scrollTrigger: {
        trigger: cls,
        start: "top 80%",
      }
    })
  })

</script>