<style>
  /* NAV */
  .header-wrapper {
    position: absolute;
    width: 100%;
    background: none;
    filter: invert(1);
    border: none;
  }

  /* HERO */
  .kkWay-hero {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kawasaki_way_bg.svg?v=1725525516');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .kkWay-hero__container {
    padding: 100px 25px;
    text-align: center;
  }

  .kkWay-hero__subtitle {
    color: #DF1616;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .kkWay-hero__title {
    color: #FFF;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .kkWay-hero__text {
    color: #FFF;
    max-width: 812px;
    margin: 0 auto;
    text-wrap: pretty;
  }

  .kkWay-hero__link {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 50px;
  }

  @media (orientation: portrait) {
    .kkWay-hero {
      height: 100vh;
      padding-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 600px) {
    .kkWay-hero__title {
      font-size: 32px;
    }

    .kkWay-hero__text {
      font-size: 16px;
      line-height: 1.5;
      max-width: 100%;
      margin: 0 auto;
      text-wrap: pretty;
    }
  }

  /* PHILO */
  .kkWay-philo {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/bg_1.jpg?v=1724999756');
    background-size: cover;
    background-position: center;
  }

  .kkWay-philo__container {
    padding: 100px 12.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .kkWay-philo__container>div {
    max-width: 546px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .kkWay-philo__logo {
    width: 21.438vw;
    max-width: 343.001px;
  }

  .kkWay-philo__title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .kkWay-philo__text {
    color: #111;
    margin: 0 0 50px;
  }

  .kkWay-philo__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  @media (max-width: 1024px) {
    .kkWay-philo__container {
      gap: 50px;
    }
  }

  @media (max-width: 600px) {
    .kkWay-philo__container {
      flex-direction: column;
      padding: 100px 25px;
    }
  }

  /* ABOUT */
  .kkWay-about {
    background: #F6F6F6;
  }

  .kkWay-about__container {
    padding: 100px 25px;
  }

  .kkWay-about__title {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  .kkWay-about__subtitle {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 153.846% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    display: block;
    margin: 0 0 70px;
  }

  .kkWay-about__container>div {
    display: flex;
    gap: 8.563vw;
  }

  .kkWay-about__left {
    position: relative;
  }

  .kkWay-about__quoteImg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .kkWay-about__quote {
    color: #000;
    font-family: "Bodoni Moda", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 153.846% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    padding-top: 78px;
    display: block;
    margin: 0 0 16px;
  }

  .kkWay-about__signature {
    display: block;
    margin: 0 0 40px auto;
  }

  .kkWay-about__text {
    color: #111;
    max-width: 70%;
  }

  .kkWay-about__img {
    width: 42.688vw;
    max-width: 683px;
    object-fit: cover;
    height: 58.625vw;
    max-height: 938px;
    object-position: 0;
  }

  @media (max-width: 1280px) {
    .kkWay-about__text {
      padding-right: 0;
    }

    .kkWay-about__text {
      max-width: 100%;
    }
  }

  @media (max-width: 1024px) {
    .kkWay-about__container>div {
      flex-direction: column-reverse;
    }

    .kkWay-about__img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }

  /* STORY */
  .kkWay-story {
    background: #F6F6F6;
  }

  .kkWay-story__timelineBox::-webkit-scrollbar {
    width: 12px !important;
    height: 8px !important;
  }

  .kkWay-story__timelineBox::-webkit-scrollbar-button {
    display: none !important;
    /* Remove the arrows */
  }

  .kkWay-story__timelineBox::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }

  .kkWay-story__timelineBox::-webkit-scrollbar-thumb {
    background: #888 !important;
    border-radius: 6px !important;
  }

  .kkWay-story__timelineBox::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }

  * {
    scrollbar-color: unset !important;
  }

  .kkWay-story__container {
    padding: 100px 25px;
  }

  .kkWay-story__timelineBox {
    overflow-x: scroll;
  }

  .kkWay-story__title {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .kkWay-story__text {
    color: #111;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto 70px;
    max-width: 900px;
  }

  .kkWay-story__timeline {
    position: relative;
    width: 3264px;
    display: inline-block;
    margin: 534px 0;
  }

  .kkWay-story__mainLine {
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    top: 50%;
  }

  .kkWay-story__card {
    position: absolute;
    bottom: 0;
    left: 174px;
    padding-bottom: 53px;
  }

  .kkWay-story__card.withImage {
    display: flex;
    align-items: center;
  }

  .kkWay-story__card.withImage h3,
  .kkWay-story__card.withImage p {
    padding-left: 20px;
  }

  .kkWay-story__card.withImage img {
    width: 200px;
    border-radius: 100%;
    grid-row: 1 / span 2;
    position: relative;
    z-index: 1;
    -webkit-user-drag: none;
    pointer-events: none;
  }

  .kkWay-story__card.withImage .kkWay-story__cardCircle {
    display: none;
  }

  .kkWay-story__cardCircle {
    width: 30px;
    height: 30px;
    background: #1C1952;
    border-radius: 100px;
    left: -15px;
    display: block;
    position: absolute;
    top: 20px;
  }

  .kkWay-story__cardTitle {
    padding-left: 31px;
    color: #000;
    font-family: "Bodoni Moda", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  .kkWay-story__cardText {
    padding-left: 31px;
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    margin: 0;
    width: 100%;
    max-width: 255px;
  }

  .kkWay-story__card.y2003 {
    left: 391px;
    top: 50px;
  }

  .kkWay-story__card.y2004 {
    left: 656px;
    bottom: 229px;
  }

  .kkWay-story__card.y2008 {
    left: 816px;
  }

  .kkWay-story__card.y2009 {
    left: 1106px;
    top: 350px;
  }

  .kkWay-story__card.y2011 {
    left: 1274px;
    bottom: 50px;
  }

  .kkWay-story__card.y2013 {
    left: 1468px;
    top: 50px;
  }

  .kkWay-story__card.y2014 {
    left: 1804px;
    bottom: 265px;
  }

  .kkWay-story__card.y2015 {
    left: 1931px;
    top: 179px;
  }

  .kkWay-story__card.y2016 {
    left: 2228px;
    bottom: 50px;
  }

  .kkWay-story__card.y2017 {
    left: 2389px;
    top: 301px;
  }

  .kkWay-story__card.y2018 {
    left: 2597px;
    top: 50px;
  }

  .kkWay-story__card.y2019 {
    left: 2753px;
    bottom: 241px;
  }

  .kkWay-story__card.y2020 {
    left: 2968px;
    bottom: 50px;
  }

  .kkWay-story__pipeY1998 {
    width: 2px;
    height: 120px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 173px;
    bottom: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2003 {
    width: 2px;
    height: 100px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 390px;
    top: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2004 {
    width: 2px;
    height: 420px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 755px;
    bottom: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2008 {
    width: 2px;
    height: 120px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 815px;
    bottom: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2009 {
    width: 2px;
    height: 390px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 1205px;
    top: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2011 {
    width: 2px;
    height: 220px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 1373px;
    bottom: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2013 {
    width: 2px;
    height: 100px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 1467px;
    top: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2014 {
    width: 2px;
    height: 400px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 1903px;
    bottom: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2015 {
    width: 2px;
    height: 200px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 2030px;
    top: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2016 {
    width: 2px;
    height: 190px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 2227px;
    bottom: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2017 {
    width: 2px;
    height: 325px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 2488px;
    top: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2018 {
    width: 2px;
    height: 85px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 2596px;
    top: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2019 {
    width: 2px;
    height: 455px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 2852px;
    bottom: 0;
    z-index: 0;
  }

  .kkWay-story__pipeY2020 {
    width: 2px;
    height: 155px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    left: 2967px;
    bottom: 0;
    z-index: 0;
  }

  @media (max-width: 1024px) {
    .kkWay-story__container {
      padding: 0 25px 100px;
    }

    .kkWay-story__timeline {
      position: relative;
      width: 100%;
      display: inline-block;
      margin: 0;
      overflow: hidden;
    }

    .kkWay-story__card {
      display: block !important;
      position: relative !important;
      left: 0 !important;
      bottom: 0 !important;
      top: 0 !important;
      right: 0 !important;
      margin: 0 0 0 50px !important;
    }

    .kkWay-story__card.withImage {
      display: flex !important;
      align-items: center;
      margin: 0 !important;
    }

    .kkWay-story__card.withImage img {
      width: 100px;
    }

    .kkWay-story__card::after {
      content: '';
      height: 100%;
      width: 2px;
      background: rgba(0, 0, 78, 0.30);
      display: block;
      position: absolute;
      top: 20px;
      left: -1px;
    }

    .kkWay-story__card.withImage::after {
      left: 49px;
    }

    .kkWay-story__card h3,
    .kkWay-story__card p {
      padding-left: 70px;
    }

    .kkWay-story__card.y2020::after {
      display: none !important;
    }

    .kkWay-story__card.y2020 {
      padding-bottom: 0 !important;
    }

    .kkWay-story__cardText {
      max-width: 100%;
    }

    .kkWay-story__timelineBox {
      overflow-x: hidden;
    }

    .kkWay-story__mainLine {
      display: none;
    }

    [class^="kkWay-story__pipe"] {
      display: none;
    }

    .kkWay-story__pipeY1998 {
      width: 2px;
      height: 100%;
      background: rgba(0, 0, 78, 0.30);
      display: none;
      position: absolute;
      left: 14px;
      top: 20px;
      z-index: 0;
    }
  }

  /* EFFECT */
  .kkWay-effect__container {
    padding: 100px 25px;
    display: grid;
    gap: 97px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .kkWay-effect__container>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 14.563vw;
  }

  .kkWay-effect__title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .kkWay-effect__text {
    color: #111;
    margin: 0 0 50px;
  }

  .kkWay-effect__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  .kkWay-effect__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    height: auto;
  }

  @media (max-width: 1024px) {
    .kkWay-effect__container {
      padding: 100px 25px;
      display: grid;
      gap: 50px;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    .kkWay-effect__container>div {
      padding-right: 0;
    }
  }

  @media (max-width: 768px) {
    .kkWay-effect__container {
      padding: 100px 25px;
      display: grid;
      gap: 50px;
      grid-template-columns: 1fr;
      align-items: center;
    }

    .kkWay-effect__container>div {
      padding-right: 0;
    }
  }
</style>

<section class="kkWay-hero">
  <div class="kkWay-hero__container page-width">
    <span class="kkWay-hero__subtitle kkWay-hero__animation1">Treatment and Products</span>
    <h1 class="kkWay-hero__title kkWay-hero__animation1 heading">the Kawasaki Way</h1>
    <p class="kkWay-hero__text kkWay-hero__animation1 bodyText">Discover the transformative power of The Kawasaki Way,
      where your appearance and internal health unite in harmonious balance. Our original products, crafted from
      meticulously selected Japanese
      plant materials, offer a holistic daily care routine for your face and body. Experience the profound benefits of
      The Kawasaki Way, a method that swiftly enhances both your inner well-being and outward appearance. Embrace
      change, for when your appearance transforms, so does your inner self, and when your inner self evolves, your
      beauty shines even brighter.</p>
    <a href="#kkWay-philo" class="kkWay-hero__link">learn more</a>
  </div>
</section>

<section id="kkWay-philo" class="kkWay-philo">
  <div class="kkWay-philo__container page-width">
    <img class="kkWay-philo__logo kkWay-philo__animation1"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-wa-logo.svg?v=1726192223" />
    <div>
      <h2 class="kkWay-philo__title kkWay-philo__animation1 heading">Our Philosophy</h2>
      <p class="kkWay-philo__text kkWay-philo__animation1 bodyText">At the heart of Kazumasa Kawasaki lies the Japanese
        character “和 (KAZU),” representing peace, harmony, and Japan itself. This symbol graces our products, embodying
        the philosophy that internal and external harmony is the key to unlocking your natural beauty. As Kazumasa
        Kawasaki believes, true beauty emerges when body and mind are in perfect sync.</p>
      <a href="/pages/products" class="kkWay-philo__button">shop now</a>
    </div>
  </div>
</section>

{% comment %} KK WAY {% endcomment %}
<style>
  /* ########## KK WAY ########## */
  .products-kkWay__container {
    text-align: center;
    padding: 100px 25px;
  }

  .products-kkWay__title {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .products-kkWay__text {
    color: #111;
    text-align: center;
    margin: 0 auto 60px;
    max-width: 700px;
  }

  .products-kkWay__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .products-kkWay__item {
    aspect-ratio: 5/6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .products-kkWay__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .products-kkWay__cardTitle {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  .products-kkWay__cardSubtitle {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Trivia Serif Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .products-kkWay__cardBottom {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #1C1952;
  }

  @media (max-width: 1024px) {
    .products-kkWay__cardTitle {
      font-size: 2vw;
      line-height: 1.25;
    }

    .products-kkWay__cardSubtitle {
      font-size: 1vw;
    }

    .products-kkWay__cards {
      gap: 10px;
    }
  }

  @media (max-width: 600px) {
    .products-kkWay__container {
      padding: 50px 25px;
    }

    .products-kkWay__cardTitle {
      font-size: 24px;
    }

    .products-kkWay__cardSubtitle {
      font-size: 14px;
    }

    .products-kkWay__text {
      font-size: 16px;
      line-height: 1.5;
    }

    .products-kkWay__cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
</style>

<section class="products-kkWay"></section>
<div class="products-kkWay__container page-width">
  <h2 class="products-kkWay__title products-kkWay__animation1 heading">explore the kawasaki way</h2>
  <p class="products-kkWay__text products-kkWay__animation1 bodyText">Discover how The Kawasaki Way can make your life
    beautiful and healthy. Try our
    products and treatments.</p>
  <div class="products-kkWay__cards">
    <a href="/pages/products" class="products-kkWay__item products-kkWay__animation2">
      {{ images['0864fe80dc0cfddd09fc6ec53621482b.png'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">Products</h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
    <a href="/pages/spa" class="products-kkWay__item products-kkWay__animation2">
      {{ images['4b09b60a99c28451d9171ba20c1b8841.png'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">le spa de</h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
    <a href="/pages/academy" class="products-kkWay__item products-kkWay__animation2">
      {{ images['63aa50857e9f6a57ab233f676a2ca893.png'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">academy</h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
  </div>
</div>
</section>
{% comment %} KK WAY {% endcomment %}

<section class="kkWay-about">
  <div class="kkWay-about__container page-width">
    <h2 class="kkWay-about__title kkWay-about__animation1 heading">KAZUMASA KAWASAKI</h2>
    <h3 class="kkWay-about__subtitle kkWay-about__animation1">A Life of Harmony and Transformation</h3>
    <div>
      <div class="kkWay-about__left kkWay-about__animation2">
        <img class="kkWay-about__quoteImg"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/quote-icon.svg?v=1726193824" />
        <span class="kkWay-about__quote">My goal is not only to change the appearance of someone I have been destined to
          meet, but also to make that person happier. If every single person becomes happy, the earth will be a happier,
          peaceful place.</span>
        <img class="kkWay-about__signature"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/KKsign1_1.svg?v=1726193981" />
        <p class="kkWay-about__text bodyText">Kazumasa Kawasaki's journey to well-being and beauty began with a personal
          health challenge. During his recovery, he discovered the healing power of traditional Japanese fermented
          foods, which inspired him to develop The Kawasaki Way. This method emphasizes the harmony between inner
          well-being and outer beauty, bringing out the unique beauty in each individual.
          <br><br>
          Kazumasa Kawasaki's products—Mist, Essence, and Plant Fermentation Food—are crafted with natural ingredients
          that work synergistically to achieve remarkable results. Since 1998, The Kawasaki Way has transformed the
          lives of over 100,000 people, including leading sports personalities, actors, musicians, and supermodels
          worldwide.
          <br><br>
          Kazumasa's philosophy centers on the belief that every person deserves happiness, and through beauty and
          wellness, we can create a more harmonious world.
        </p>
      </div>
      {{ images['kk-photo.png'] | image_url: width: 1000 | image_tag: class: 'kkWay-about__img kkWay-about__animation2'
      }}
    </div>
  </div>
</section>

<section class="kkWay-story">
  <div class="kkWay-story__container">
    <h2 class="kkWay-story__title kkWay-story__ani1 heading">Story</h2>
    <p class="kkWay-story__text kkWay-story__ani1 bodyText">Kazumasa Kawasaki's innovative approach has been featured on
      TV, in magazines, and across media worldwide. He continues to expand his influence in diverse fields, embodying a
      commitment to holistic beauty and well-being.</p>
    <div class="kkWay-story__timelineBox kkWay-story__ani2">
      <div class="kkWay-story__timeline">
        <span class="kkWay-story__mainLine"></span>

        <div class="kkWay-story__card">
          <span class="kkWay-story__cardCircle"></span>
          <h3 class="kkWay-story__cardTitle">1998</h3>
          <p class="kkWay-story__cardText">Began beauty and health activities inspired by personal health challenges.
          </p>
        </div>

        <div class="kkWay-story__card y2003">
          <span class="kkWay-story__cardCircle"></span>
          <h3 class="kkWay-story__cardTitle">2003</h3>
          <p class="kkWay-story__cardText">Presented products to Pope John Paul II, receiving gratitude from the
            Vatican. Invited to perform treatments for cardinals and scholars.</p>
        </div>

        <div class="kkWay-story__card y2004 withImage">
          <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kkway-timeline-2004.jpg?v=1726819248">
          <div>
            <h3 class="kkWay-story__cardTitle">2004</h3>
            <p class="kkWay-story__cardText">Met with Italian Undersecretary of Foreign Affairs, featured in Italian
              media. Collaborated with the Italian Association of Friends of Parkinson's Disease.</p>
          </div>
        </div>

        <div class="kkWay-story__card y2008">
          <span class="kkWay-story__cardCircle"></span>
          <h3 class="kkWay-story__cardTitle">2008</h3>
          <p class="kkWay-story__cardText">Gained acclaim in New York, treated VIPs, and featured in international
            media.</p>
        </div>

        <div class="kkWay-story__card y2009 withImage">
          <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kkway-timeline-2009.jpg?v=1726820400">
          <div>
            <h3 class="kkWay-story__cardTitle">2009</h3>
            <p class="kkWay-story__cardText">Performed treatments for celebrities, including Miss Universe USA
              executives, models, and Hollywood stars before the Oscars.</p>
          </div>
        </div>

        <div class="kkWay-story__card y2011 withImage">
          <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kkway-timeline-2011.jpg?v=1726820546">
          <div>
            <h3 class="kkWay-story__cardTitle">2011</h3>
            <p class="kkWay-story__cardText">Performed treatments for celebrities, including Miss Universe USA
              executives, models, and Hollywood stars before the Oscars.</p>
          </div>
        </div>

        <div class="kkWay-story__card y2013">
          <span class="kkWay-story__cardCircle"></span>
          <h3 class="kkWay-story__cardTitle">2013</h3>
          <p class="kkWay-story__cardText">Published first book, "Become the Body You Want to Be! The Miraculous
            KAWASAKI Method." Opened KAWASAKI ACADEMY for treatment techniques.</p>
        </div>

        <div class="kkWay-story__card y2014 withImage">
          <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kkway-timeline-2014.jpg?v=1726820904">
          <div>
            <h3 class="kkWay-story__cardTitle">2014</h3>
            <p class="kkWay-story__cardText">Trained therapists at Thermes Marins Monte Carlo, Royal Spa of Monaco.</p>
          </div>
        </div>

        <div class="kkWay-story__card y2015 withImage">
          <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kkway-timeline-2015.jpg?v=1726821019">
          <div>
            <h3 class="kkWay-story__cardTitle">2015</h3>
            <p class="kkWay-story__cardText">Opened Le Spa de KAZUMASA KAWASAKI in Tokyo.</p>
          </div>
        </div>

        <div class="kkWay-story__card y2016">
          <span class="kkWay-story__cardCircle"></span>
          <h3 class="kkWay-story__cardTitle">2016</h3>
          <p class="kkWay-story__cardText">Introduced KAWASAKI WAY treatments at THE SANCHAYA, Indonesia.</p>
        </div>

        <div class="kkWay-story__card y2017 withImage">
          <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kkway-timeline-2017.jpg?v=1726821138">
          <div>
            <h3 class="kkWay-story__cardTitle">2017</h3>
            <p class="kkWay-story__cardText">Launched products in Monaco, participated in global beauty events, and
              opened a flagship store in Tokyo.</p>
          </div>
        </div>

        <div class="kkWay-story__card y2018">
          <span class="kkWay-story__cardCircle"></span>
          <h3 class="kkWay-story__cardTitle">2018</h3>
          <p class="kkWay-story__cardText">Presented at TOP MARQUES MONACO, introduced products in Singapore.</p>
        </div>

        <div class="kkWay-story__card y2019 withImage">
          <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kkway-timeline-2019.jpg?v=1726821290">
          <div>
            <h3 class="kkWay-story__cardTitle">2019</h3>
            <p class="kkWay-story__cardText">Achieved historic product placement at Yacht Club Monaco, knighted for
              contributions to culture and society, established U.S. presence.</p>
          </div>
        </div>

        <div class="kkWay-story__card y2020">
          <span class="kkWay-story__cardCircle"></span>
          <h3 class="kkWay-story__cardTitle">2020</h3>
          <p class="kkWay-story__cardText">Introduced methods at Yacht Club Monaco.</p>
        </div>

        <span class="kkWay-story__pipeY1998"></span>
        <span class="kkWay-story__pipeY2003"></span>
        <span class="kkWay-story__pipeY2004"></span>
        <span class="kkWay-story__pipeY2008"></span>
        <span class="kkWay-story__pipeY2009"></span>
        <span class="kkWay-story__pipeY2011"></span>
        <span class="kkWay-story__pipeY2013"></span>
        <span class="kkWay-story__pipeY2014"></span>
        <span class="kkWay-story__pipeY2015"></span>
        <span class="kkWay-story__pipeY2016"></span>
        <span class="kkWay-story__pipeY2017"></span>
        <span class="kkWay-story__pipeY2018"></span>
        <span class="kkWay-story__pipeY2019"></span>
        <span class="kkWay-story__pipeY2020"></span>
      </div>

    </div>
  </div>
</section>

<section class="kkWay-effect">
  <div class="kkWay-effect__container page-width">
    {{ images['kk-way-effect.jpg'] | image_url: width: 1000 | image_tag: class: 'kkWay-effect__img kkWay-effect__anim1'
    }}
    <div>
      <h2 class="kkWay-effect__title kkWay-effect__anim1 heading">the kawasaki way effect</h2>
      <p class="kkWay-effect__text kkWay-effect__anim1 bodyText">Please read a story of a professional race car driver
        Naoki Yokomizo whose life was transformed by the Kawasaki Way.</p>
      <a href="/pages/reviews" class="kkWay-effect__button">learn more</a>
    </div>
  </div>
</section>

<style>
  .kkWay-story__timelineBox {
    overflow-x: auto;
    cursor: grab;
  }

  .kkWay-story__timelineBox:active {
    cursor: grabbing;
  }

  .kkWay-story__timelineBox *::selection {
    background: none;
  }
</style>

<script>
  const scrollableSection = document.querySelector('.kkWay-story__timelineBox');
  let isDown = false;
  let startX;
  let scrollLeft;

  scrollableSection.addEventListener('mousedown', (e) => {
    isDown = true;
    scrollableSection.classList.add('active');
    startX = e.pageX - scrollableSection.offsetLeft;
    scrollLeft = scrollableSection.scrollLeft;
  });

  scrollableSection.addEventListener('mouseleave', () => {
    isDown = false;
    scrollableSection.classList.remove('active');
  });

  scrollableSection.addEventListener('mouseup', () => {
    isDown = false;
    scrollableSection.classList.remove('active');
  });

  scrollableSection.addEventListener('mousemove', (e) => {
    if (!isDown) return;
    e.preventDefault();
    const x = e.pageX - scrollableSection.offsetLeft;
    const walk = (x - startX) * 2; // Adjust the multiplier for scroll speed
    scrollableSection.scrollLeft = scrollLeft - walk;
  });
</script>