<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<style>
  /* ########## HERO ########## */
  .products-hero {
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .products-hero__container {
    padding: 100px 25px;
    height: 100%;
  }

  .products-hero__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 35%;
  }

  .products-hero__mobileBg {
    display: none;
  }

  .products-hero__blueBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    width: 75%;
    object-fit: cover;
    object-position: right;
  }

  .products-hero__picture {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: -2;
    right: -5%;
  }

  .products-hero__subtitle {
    color: #fff;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .products-hero__title {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 5px 0 30px;
  }

  .products-hero__text {
    color: #FFF;
    margin: 0 0 60px;
  }

  .products-hero__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    height: 52px;
    padding: 15px 70px;
    align-items: center;
    gap: 10px;
    border: 1px solid #FFF;
    text-decoration: none;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper .swiper-slide {
    height: auto;
  }

  @media (max-width: 1280px) {
    .products-hero__title {
      font-size: 40px;
      line-height: 120%;
      margin: 5px 0 30px;
    }

    .products-hero__text {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 60px;
    }
  }

  @media (max-width: 1024px) {
    .products-hero__blueBg {
      width: 85%;
    }
  }

  @media (max-width: 768px) {
    .products-hero {
      align-items: baseline;
    }

    .products-hero__subtitle {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 1.26px;
      text-transform: uppercase;
    }

    .products-hero__text {
      font-size: 14px;
      line-height: 1.5;
      margin: 0 0 60px;
    }

    .products-hero__container {
      position: relative;
      padding: 100px 25px;
      background: rgb(0 0 78 / 70%);
    }

    .products-hero__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      text-align: center;
    }

    .products-hero__blueBg {
      display: none;
    }

    .products-hero__mobileBg {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: 100%;
      width: 100%;
      z-index: -1;
      object-fit: cover;
      object-position: bottom;
    }

    .products-hero__picture {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      object-fit: cover;
      height: 100%;
      z-index: -2;
      right: 0;
    }
  }

  /* ##### TECHNIQUE ##### */
  .spa-technique__container {
    padding: 100px 25px;
  }

  .spa-technique__subtitle {
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    display: block;
  }

  .spa-technique__title {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 10px 0 70px;
  }

  .spa-technique__topRow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .spa-technique__topRow {
    display: grid;
    grid-template-columns: minmax(300px, 1.25fr) .75fr;
    gap: 100px;
    align-items: center;
    margin-right: 150px;
  }

  .spa-technique__topRow>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .spa-technique__topRowTitle {
    color: #000;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  .spa-technique__topRowText {
    color: #111;
    margin: 0 0 40px;
  }

  .spa-technique__topRowButton {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  .spa-technique__bottomRow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
  }

  .spa-technique__bottomRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
  }

  @media (max-width: 1024px) {
    .spa-technique__topRow {
      grid-template-columns: 1.25fr .75fr;
      gap: 50px;
      margin-right: 0;
    }
  }

  @media (orientation: portrait) {
    .spa-technique__topRow {
      grid-template-columns: 1fr;
      gap: 25px;
      margin-right: 0;
    }

    .spa-technique__bottomRow {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      margin-top: 80px;
    }
  }

  /* ##### Products ##### */
  .spa-products {
    background: #F6F6F6;
  }

  .spa-products__container {
    padding: 100px 25px;
  }

  .spa-products__subtitle {
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    display: block;
  }

  .spa-products__title {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 10px 0 70px;
  }

  .spa-products__row {
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    gap: 6.25vw;
    align-items: center;
    margin-right: 9.375vw;
  }

  .spa-products__row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .spa-products__row>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .spa-products__rowTitle {
    color: #000;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .spa-products__rowText {
    color: #111;
    margin: 0 0 50px;
  }

  .spa-products__rowButton {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  @media (orientation: portrait) {
    .spa-products__row {
      display: grid;
      grid-template-columns: 1fr;
      gap: 6.25vw;
      align-items: center;
      margin-right: 0;
    }
  }

  /* ##### STAFF ##### */
  .spa-staff {
    background: #F6F6F6;
  }

  .spa-staff__container {
    padding: 100px 25px;
  }

  .spa-staff__title {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .spa-staff__text {
    color: #111;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 70px;
  }

  .spa-staff__members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
  }

  .spa-staff__members img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .spa-staff__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .spa-staff__role {
    color: #111;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    display: block;
    margin: 20px 0 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-transform: uppercase;
  }

  .spa-staff__name {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 26.4px */
    text-transform: uppercase;
    margin: 0;
  }

  .spa-staff__academy {
    display: grid;
    grid-template-columns: minmax(300px, 1.25fr) .75fr;
    gap: 6.25vw;
    align-items: center;
    margin: 6.25vw 9.375vw 0 0;
  }

  .spa-staff__academy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .spa-staff__academy>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .spa-staff__academyTitle {
    color: #000;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .spa-staff__academyText {
    color: #111;
    margin: 0 0 50px;
  }

  .spa-staff__academyButton {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  @media (orientation: portrait) {
    .spa-staff__members {
      grid-template-columns: repeat(2, 1fr);
    }

    .spa-staff__academy {
      grid-template-columns: 1fr;
      gap: 6.25vw;
      align-items: center;
      margin: 6.25vw 0 0;
    }
  }

  /* ##### TREATMENTS ##### */
  .spa-treatments__container {
    padding: 100px 25px;
  }

  .spa-treatments__title {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 4.375vw;
  }

  .spa-treatments__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5vw;
  }

  .spa-treatments__item {
    display: flex;
    padding: 5vw;
    flex-direction: column;
    align-items: center;
    background: var(--blue-gradient, linear-gradient(252deg, #322E7D 48.4%, #00004E 64.58%));
  }

  .spa-treatments__itemTitle {
    color: #FFF;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 48px */
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin: 0 0 40px;
  }

  .spa-treatments__itemText {
    color: #FFF;
    text-align: center;
    margin: 0 0 40px;
  }

  .spa-treatments__itemCost {
    color: #FFF;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: 1.68px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 60px;
  }

  .spa-treatments__itemCost>span {
    color: #FFF;
    font-family: "Bodoni Moda", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }

  .spa-treatments__itemButton {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    height: 52px;
    padding: 15px 70px;
    align-items: center;
    gap: 10px;
    border: 1px solid #FFF;
  }

  @media (orientation: portrait) {
    .spa-treatments__cards {
      grid-template-columns: 1fr;
    }

    .spa-treatments__item {
      padding: 40px;
    }
  }

  /* ########## LOCATIONS ########## */
  .products-locations {
    padding: 100px 25px;
  }

  .products-locations__item {
    margin-right: 40px;
    cursor: pointer;
  }

  .products-locations__itemTitle {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 30.8px */
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  .products-locations__itemAddress {
    color: #111;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 0 0 40px;
  }

  .products-locations__line {
    display: block;
    width: 137px;
    height: 3px;
    background: #DF1616;
    transition: .3s;
  }

  .products-locations__container {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    gap: 40px;
  }

  .products-locations__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 600px;
    overflow-y: scroll;
  }

  .map {
    display: none;
  }

  .map.active {
    display: block;
  }

  .products-locations__item.active {
    background: #f2f2f2;
  }

  .products-locations__item.active .products-locations__line {
    width: 100%;
    transition: .3s;
  }

  .products-locations h2 {
    text-align: center;
    color: #000;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 auto 60px;
  }

  .products-locations__gMapLink {
    display: none;
  }

  @media (orientation: portrait) {
    .products-locations__gMapLink {
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      margin-top: 20px;
    }

    .products-locations__container {
      display: flex;
      flex-direction: column;
    }

    .products-locations__map {
      display: none;
    }

    .products-locations__list {
      display: flex;
      flex-direction: row;
      gap: 10px;
      height: 100%;
      overflow-x: scroll;
      margin-right: 100px;
      width: 100%;
      align-items: center;
    }

    .products-locations h2 {
      margin-bottom: 20px;
    }

    .products-locations__itemTitle {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
    }

    .products-locations {
      padding: 50px 25px;
    }

    .products-locations__item {
      margin-right: 0;
      cursor: pointer;
      min-width: 75vw;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
      padding: 20px;
      border-radius: 10px;
      height: 100%;
      align-self: stretch;
      height: auto;
      align-items: center;
      justify-content: center;
    }

    .products-locations__line {
      display: none;
    }

    .products-locations__itemAddress {
      margin: 0;
    }

    .products-locations__item.active {
      background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    }
  }
</style>

{% comment %} <section class="products-hero">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide products-hero">
        <div class="products-hero__container page-width">
          <div class="products-hero__left">
            <span class="products-hero__subtitle products-hero__anim1">Kazumasa Kawasaki</span>
            <h1 class="products-hero__title products-hero__anim1 heading">
              {{ 'templates.spa.heroSlide1Title' | t }}
            </h1>
            <p class="products-hero__text products-hero__anim1 bodyText">
              <b>
                {{ 'templates.spa.heroSlide1Subtitle' | t }}
              </b><br><br>
              {{ 'templates.spa.heroSlide1Text' | t }}
            </p>
            <a href="#techniqueSection" class="products-hero__button">
              {{ 'templates.spa.hero1Button' | t }}
            </a>
          </div>
        </div>
        <img class="products-hero__blueBg"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-products-hero-blue-background.svg?v=1724993611" />
        {{ images['spa-hero-img-1.png'] | image_url: width: 1000 | image_tag: class: 'products-hero__picture' }}
      </div>
      <div class="swiper-slide products-hero">
        <div class="products-hero__container page-width">
          <div class="products-hero__left">
            <span class="products-hero__subtitle">Le Spa de</span>
            <h1 class="products-hero__title heading">KAZUMASA KAWASAKI</h1>
            <p class="products-hero__text bodyText"><b>TOKYO</b><br><br>
              {{ 'templates.spa.heroSlide2Text' | t }}
              <br><br>
              <i>
                {{ 'templates.spa.heroSlide2Text2' | t |  replace: 'htmlbr','<br>' }}
              </i>
            </p>
            <a href="#spa-treatments" class="products-hero__button">
              {{ 'templates.spa.hero2Button' | t }}
            </a>
          </div>
        </div>
        <img class="products-hero__blueBg"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-products-hero-blue-background.svg?v=1724993611" />
        {{ images['spa-hero-img-2.jpg'] | image_url: width: 1000 | image_tag: class: 'products-hero__picture' }}
      </div>
      <div class="swiper-slide products-hero">
        <div class="products-hero__container page-width">
          <div class="products-hero__left">
            <span class="products-hero__subtitle">Le Spa de</span>
            <h1 class="products-hero__title heading">KAZUMASA KAWASAKI</h1>
            <p class="products-hero__text bodyText"><b>MONACO</b><br><br>
              {{ 'templates.spa.heroSlide3Text' | t }}
              <br><br>
              <i>
                {{ 'templates.spa.heroSlide3Text3' | t | replace: 'htmlbr','<br>'}}
              </i>
            </p>
            <a href="#spa-treatments" class="products-hero__button">
              {{ 'templates.spa.hero3Button' | t }}
            </a>
          </div>
        </div>
        <img class="products-hero__blueBg"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-products-hero-blue-background.svg?v=1724993611" />
        {{ images['spa-hero-img-3.jpg'] | image_url: width: 1000 | image_tag: class: 'products-hero__picture' }}
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</section> {% endcomment %}

{% comment %} NEW HERO {% endcomment %}
<style>
  .productsHero {
    position: relative;
  }

  .productsHero__container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 20px 150px;
    z-index: 3;
    position: relative;
  }

  .productsHero__subtitle {
    color: #F32652;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
  }

  .productsHero__content {
    width: 600px;
  }

  .productsHero__titleBox {
    height: 200px;
    position: relative;
    overflow: hidden;
  }

  .productsHero__title1,
  .productsHero__title2,
  .productsHero__title3 {
    position: absolute;
    color: #fff;
    font-family: "Bodoni Moda", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .productsHero__title2,
  .productsHero__title3 {
    bottom: -600px;
  }

  .productsHero__textBox {
    height: 450px;
    position: relative;
    overflow: hidden;
  }

  .productsHero__text1,
  .productsHero__text2,
  .productsHero__text3 {
    position: absolute;
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .productsHero__text2,
  .productsHero__text3 {
    bottom: -600px;
  }

  .productsHero__text1 a,
  .productsHero__text2 a,
  .productsHero__text3 a {
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    height: 52px;
    padding: 15px 70px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #fff;
    margin: 40px 0 0;
  }

  .productsHero__backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 75vw;
    object-fit: cover;
    object-position: right;
  }

  .productsHero__img1,
  .productsHero__img2,
  .productsHero__img3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    object-fit: cover;
    display: block;
    width: 100%;
  }

  .productsHero__img2,
  .productsHero__img3 {
    opacity: 0;
  }

  .productsHero .controls {
    position: absolute;
    z-index: 3;
    bottom: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .productsHero .controls button.active {
    opacity: 1;
    transition: .3s;
    transform: scale(1.5);
  }
  
  .productsHero .controls button {
    width: 7.5px;
    height: 7.5px;
    background-color: #F32652;
    opacity: .5;
    color: #F32652;
    border: none;
    border-radius: 100px;
    transition: .3s;
  }

  @media (max-width: 1440px) {
    .productsHero__content {
      width: 500px;
    }

    .productsHero__title1,
    .productsHero__title2,
    .productsHero__title3 {
      font-size: 40px;
      line-height: 140%;
    }

    .productsHero__titleBox {
      height: 200px;
    }

    .productsHero__text1,
    .productsHero__text2,
    .productsHero__text3 {
      font-size: 14px;
    }
  }

  @media (max-width: 1279px) {
    .productsHero__content {
      width: 100%;
    }

    .productsHero__container {
      background: #00004ecc;
    }

    .productsHero__backgroundImg {
      display: none;
    }

    .productsHero__title1,
    .productsHero__title2,
    .productsHero__title3 {
      font-size: 24px;
      line-height: 28px;
    }

    .productsHero__titleBox {
      height: 100px;
    }

    .productsHero__text1,
    .productsHero__text2,
    .productsHero__text3 {
      font-size: 12px;
    }

    .productsHero__img1,
    .productsHero__img2,
    .productsHero__img3 {
      object-position: 80%;
    }

    .productsHero .controls {
      margin-left: -20px;
    }
  }
</style>

<section class="productsHero">
  <div class="productsHero__container">
    <div class="productsHero__content">
      <span class="productsHero__subtitle">Kazumasa Kawasaki</span>
      <div class="productsHero__titleBox">
        <h1 class="productsHero__title1">
          {{ 'templates.spa.heroSlide1Title' | t }}
        </h1>

        <h1 class="productsHero__title2">
          <span class="products-hero__subtitle">Le Spa de</span>
          <br>
          KAZUMASA KAWASAKI
        </h1>
        <h1 class="productsHero__title3">
          <span class="products-hero__subtitle">Le Spa de</span>
          <br>
          KAZUMASA KAWASAKI
        </h1>
      </div>
      <div class="productsHero__textBox">
        <p class="productsHero__text1">
          <b>
            {{ 'templates.spa.heroSlide1Subtitle' | t }}
          </b><br><br>
          {{ 'templates.spa.heroSlide1Text' | t }}
        <br>
        <a href="#techniqueSection">
          {{ 'templates.spa.hero1Button' | t }}
        </a>
        </p>

        <p class="productsHero__text2">
          <b>TOKYO</b><br><br>
          {{ 'templates.spa.heroSlide2Text' | t }}
          <br><br>
          <i>
            {{ 'templates.spa.heroSlide2Text2' | t |  replace: 'htmlbr','<br>' }}
          </i>
        <br>

        <a href="#spa-treatments">
          {{ 'templates.spa.hero2Button' | t }}
        </a>
        </p>

        <p class="productsHero__text3">
          <b>MONACO</b><br><br>
          {{ 'templates.spa.heroSlide3Text' | t }}
          <br><br>
          <i>
            {{ 'templates.spa.heroSlide3Text3' | t | replace: 'htmlbr','<br>'}}
          </i>
        <br>

        <a href="#spa-treatments">
          {{ 'templates.spa.hero3Button' | t }}
        </a>
        </p>
      </div>
    </div>

    <div class="controls">
      <button id="group1Btn" data-label="group1Start"></button>
      <button id="group2Btn" data-label="group2Start"></button>
      <button id="group3Btn" data-label="group3Start"></button>
    </div>
  </div>

  <img class="productsHero__backgroundImg" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-products-hero-blue-background.svg?v=1724993611" >

  {{ images['spa-hero-img-1.png'] | image_url: width: 1000 | image_tag: class: 'productsHero__img1' }}
  
  {{ images['spa-hero-img-2.jpg'] | image_url: width: 1000 | image_tag: class: 'productsHero__img2' }}
  
  {{ images['spa-hero-img-3.jpg'] | image_url: width: 1000 | image_tag: class: 'productsHero__img3' }}

</section>

<script>

// Function to update active button
function setActiveButton(label) {
  document.querySelectorAll(".controls button").forEach((button) => {
    button.classList.toggle("active", button.dataset.label === label);
  });
}

// Combined Timeline
var tlCombined = gsap.timeline({ repeat: -1 });

// Group 1 (Title 1, Text 1, Image 1 fades out)
tlCombined.add("group1Start") // Label for the start of group 1
  .call(() => setActiveButton("group1Start")) // Update active button
  .to([".productsHero__title1", ".productsHero__text1", ".productsHero__img1"], {
    bottom: '-600px',
    opacity: 0,
    duration: 0.75,
    delay: 7.5
  });

// Group 2 (Title 2, Text 2, Image 2 fades in)
tlCombined.add("group2Start") // Label for the start of group 2
  .call(() => setActiveButton("group2Start")) // Update active button
  .to([".productsHero__title2", ".productsHero__text2", ".productsHero__img2"], {
    bottom: 'auto',
    opacity: 1,
    duration: 1
  }, "<")
  .to([".productsHero__title2", ".productsHero__text2", ".productsHero__img2"], {
    bottom: '-600px',
    opacity: 0,
    duration: 0.75,
    delay: 7.5
  });

// Group 3 (Title 3, Text 3, Image 3 fades in)
tlCombined.add("group3Start") // Label for the start of group 3
  .call(() => setActiveButton("group3Start")) // Update active button
  .to([".productsHero__title3", ".productsHero__text3", ".productsHero__img3"], {
    bottom: 'auto',
    opacity: 1,
    duration: 1
  }, "<")
  .to([".productsHero__title3", ".productsHero__text3", ".productsHero__img3"], {
    bottom: '-600px',
    opacity: 0,
    duration: 0.75,
    delay: 7.5
  });

// Return to Group 1
tlCombined.to([".productsHero__title1", ".productsHero__text1", ".productsHero__img1"], {
  bottom: 'auto',
  opacity: 1,
  duration: 1
}, "<");

// Get button elements
const buttons = document.querySelectorAll(".controls button");

// Function to update active button class
function updateActiveButton(activeLabel) {
  buttons.forEach((button) => {
    if (button.dataset.label === activeLabel) {
      button.classList.add("active");
    } else {
      button.classList.remove("active");
    }
  });
}

// Button controls
document.getElementById("group1Btn").addEventListener("click", function () {
  tlCombined.seek("group1Start").play();
  updateActiveButton("group1Start");
});

document.getElementById("group2Btn").addEventListener("click", function () {
  tlCombined.seek("group2Start").play();
  updateActiveButton("group2Start");
});

document.getElementById("group3Btn").addEventListener("click", function () {
  tlCombined.seek("group3Start").play();
  updateActiveButton("group3Start");
});

</script>
{% comment %} NEW HERO {% endcomment %}

<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    autoplay: {
      delay: 5000,
    }
  });
</script>

<section id="techniqueSection" class="spa-technique">
  <div class="spa-technique__container page-width">
    <span class="spa-technique__subtitle spa-technique__anim1">
      {{ 'templates.spa.technique.sectionSubtitle' | t }}
    </span>
    <h2 class="spa-technique__title spa-technique__anim1 heading">KAZUMASA KAWASAKI</h2>
    <div class="spa-technique__topRow">
      {{ images['4b09b60a99c28451d9171ba20c1b8841.png'] | image_url: width: 1000 | image_tag: class:
      'spa-technique__anim2'}}
      <div>
        <h3 class="spa-technique__topRowTitle spa-technique__anim2 heading">
          {{ 'templates.spa.technique.topRowTitle' | t }}
        </h3>
        <p class="spa-technique__topRowText spa-technique__anim2 bodyText">
          {{ 'templates.spa.technique.topRowText1' | t }}
          <br><br>
          <i>
            {{ 'templates.spa.technique.topRowText2' | t |  replace: 'htmlbr','<br>' }}
          </i>
        </p>
        <a href="#spa-treatments" class="spa-technique__topRowButton">
          {{ 'templates.spa.technique.topRowButton' | t }}
        </a>
      </div>
    </div>
    <div class="spa-technique__bottomRow">
      {{ images['f5296edb33af8fa0e11f2b9b175402ec.png'] | image_url: width: 1000 | image_tag: class:
      "spa-technique__anim3" }}
      {{ images['521156b74383f1f36f9e444edd35a876.png'] | image_url: width: 1000 | image_tag: class:
      "spa-technique__anim3" }}
      {{ images['spa-hero-img-1.png'] | image_url: width: 1000 | image_tag: class: "spa-technique__anim3"}}
    </div>
  </div>
</section>

<section class="spa-products">
  <div class="spa-products__container page-width">
    <span class="spa-products__subtitle spa-products__anim1">
      {{ 'templates.spa.products.sectionTitle' | t }}
    </span>
    <h2 class="spa-products__title spa-products__anim1 heading">KAZUMASA KAWASAKI</h2>
    <div class="spa-products__row">
      {{ images['d8c56ab5ff5bdc6d95e4501df800442f.png'] | image_url: width: 1000 | image_tag: class:
      "spa-products__anim2" }}
      <div>
        <h3 class="spa-products__rowTitle spa-products__anim2 heading">
          {{ 'templates.spa.products.title' | t }}
        </h3>
        <p class="spa-products__rowText spa-products__anim2 bodyText">
          {{ 'templates.spa.products.text' | t }}
        </p>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/products" class="spa-products__rowButton">
          {{ 'templates.spa.products.button' | t }}
        </a>
      </div>
    </div>
  </div>
</section>

{% section 'home-kawasaki-way' %}

<section class="spa-staff">
  <div class="spa-staff__container page-width">
    <h2 class="spa-staff__title spa-staff__anim1 heading">
      {{ 'templates.spa.staff.topTitle' | t }}
    </h2>
    <p class="spa-staff__text spa-staff__anim1 bodyText">
      {{ 'templates.spa.staff.topText' | t }}
    </p>
    <div class="spa-staff__members">
      <div class="spa-staff__item spa-staff__anim2">
        <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/spa-stuff2.png?v=1725263409" />
        <span class="spa-staff__role">
          {{ 'templates.spa.staff.member1Title' | t }}
        </span>
        <h3 class="spa-staff__name">Lisa Shimizu</h3>
      </div>
      <div class="spa-staff__item spa-staff__anim2">
        <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/spa-stuff3.png?v=1725263409" />
        <span class="spa-staff__role">
          {{ 'templates.spa.staff.member2Title' | t }}
        </span>
        <h3 class="spa-staff__name">Harumi Sato</h3>
      </div>
      <div class="spa-staff__item spa-staff__anim2">
        <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/spa-stuff1.png?v=1725263409" />
        <span class="spa-staff__role">
          {{ 'templates.spa.staff.member3Title' | t }}
        </span>
        <h3 class="spa-staff__name">Mari Shinno</h3>
      </div>
      <div class="spa-staff__item spa-staff__anim2">
        <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/spa-stuff4.png?v=1725263409" />
        <span class="spa-staff__role">
          {{ 'templates.spa.staff.member4Title' | t }}
        </span>
        <h3 class="spa-staff__name">Chika Uehara</h3>
      </div>
    </div>
    <div class="spa-staff__academy">
      <img class="spa-staff__anim3"
        src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/spa-academy.jpg?v=1725263409" />
      <div>
        <h3 class="spa-staff__academyTitle spa-staff__anim3 heading">
          {{ 'templates.spa.staff.bottomTitle' | t }}
        </h3>
        <p class="spa-staff__academyText spa-staff__anim3 bodyText">
          {{ 'templates.spa.staff.bottomText' | t }}
        </p>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/academy" class="spa-staff__academyButton">
          {{ 'templates.spa.staff.bottomButton' | t }}
        </a>
      </div>
    </div>
  </div>
</section>

<section id="spa-treatments" class="spa-treatments">
  <div class="spa-treatments__container page-width">
    <h2 class="spa-treatments__title spa-treatments__anim1 heading">
      {{ 'templates.spa.treatments.title' | t }}
    </h2>
    <div class="spa-treatments__cards">
      <div class="spa-treatments__item spa-treatments__anim1">
        <h3 class="spa-treatments__itemTitle">
          {{ 'templates.spa.treatments.card1Title' | t }}
        </h3>
        <p class="spa-treatments__itemText bodyText">
          {{ 'templates.spa.treatments.card1Text' | t }}
        </p>
        <span class="spa-treatments__itemCost">¥50,000 <span>
          +{{ 'templates.spa.treatments.tax' | t }}
        </span></span>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/#contact_section" class="spa-treatments__itemButton">
          {{ 'templates.spa.treatments.button' | t }}
        </a>
      </div>
      <div class="spa-treatments__item spa-treatments__anim1">
        <h3 class="spa-treatments__itemTitle">
          {{ 'templates.spa.treatments.card2Title' | t }}
        </h3>
        <p class="spa-treatments__itemText bodyText">
          {{ 'templates.spa.treatments.card2Text' | t }}
        </p>
        <span class="spa-treatments__itemCost">¥120,000 <span>
          +{{ 'templates.spa.treatments.tax' | t }}
        </span></span>
        <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/#contact_section" class="spa-treatments__itemButton">
          {{ 'templates.spa.treatments.button' | t }}
        </a>
      </div>
    </div>
  </div>
</section>

<section class="products-locations">
  <h2 class="page-width products-locations__anim1 heading">
    {{ 'templates.spa.salonList.title' | t }}
  </h2>
  <div class="products-locations__container page-width">
    <div class="products-locations__list products-locations__anim1">
      <div class="products-locations__item" data-index="0">
        <h3 class="products-locations__itemTitle">Le Spa de KAZUMASA KAWASAKI (JAPAN)</h3>
        <p class="products-locations__itemAddress">B1 Portofino 3-15-5 Kita-Aoyama, Minato-ku, Tokyo, Japan</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/aTxvRXEoBxzoJw789" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>

      <div class="products-locations__item" data-index="1">
        <h3 class="products-locations__itemTitle">NEODERME MEDICAL SPA (FRANCE)</h3>
        <p class="products-locations__itemAddress">25 Bd General Leclerc , 06240 Beausoleil , France<br>+33 4 22 16 48
          15</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/abcrfzgfhc6ofmxQA" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>

      <div class="products-locations__item" data-index="2">
        <h3 class="products-locations__itemTitle">The Sanchaya (INDONESIA)</h3>
        <p class="products-locations__itemAddress">Lagoi Bay, Bintan, Riau Islands, Indonesia<br>www.thesanchaya.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/ubU4y5upiS5o3ELh9" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>

      <div class="products-locations__item" data-index="3">
        <h3 class="products-locations__itemTitle">ST. GREGORY SPA Pan Pacific Singapore (SINGAPORE)</h3>
        <p class="products-locations__itemAddress">7 Raffles Boulevard Marina Square, Level 4, Singapore 039595<br>+65
          6826 8140</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/o5cjp5g8QghgLXZE8" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>

      <div class="products-locations__item" data-index="4">
        <h3 class="products-locations__itemTitle">ST. GREGORY SPA PARKROYAL on BeachRoad (SINGAPORE)</h3>
        <p class="products-locations__itemAddress">7500 Beach Road, Level 4, Singapore 199591<br>+65 6505
          5755<br>www.stgregoryspa.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/ME8PDptrisgnv8zb9" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>

      <div class="products-locations__item" data-index="5">
        <h3 class="products-locations__itemTitle">ST. GREGORY SPA PARKROYAL on Pickering (SINGAPORE)</h3>
        <p class="products-locations__itemAddress">3 Upper Pickering Street, Level 5, Singapore 058289<br>+65 6809
          8870<br>www.stgregoryspa.com</p>
        <a class="products-locations__gMapLink" href="https://maps.app.goo.gl/TKE89hvVei5hV7gWA" target="_blank">Google
          Maps</a>
        <span class="products-locations__line"></span>
      </div>
    </div>
    <div class="products-locations__map products-locations__anim1">
      <iframe class="map" data-index="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5119277418225!2d139.70682797723953!3d35.66439487259277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d716aa7febd%3A0xa037ea1b4d4db1c2!2sPortofino%20Aoyama!5e0!3m2!1sen!2sjp!4v1725266216214!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="1"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.4135577328284!2d7.424807377473073!3d43.74350817109789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdc27cd2c6caff%3A0x8dbdfcba04a237f!2s25%20Bd%20du%20General%20Leclerc%2C%2006240%20Beausoleil%2C%20France!5e0!3m2!1sen!2sjp!4v1725266492345!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31911.808831202678!2d104.35221176843139!3d1.177282173932743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31dbd5f97bb0fea1%3A0xcc1356fcbd567b86!2sPublic%20Lagoi%20Bay!5e0!3m2!1sen!2sjp!4v1725266562249!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="3"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8033223788707!2d103.85601027675291!3d1.2924175986953115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a8f0c90bb1%3A0xd68bb4dc42f9f2f4!2sPan%20Pacific%20Singapore!5e0!3m2!1sen!2sjp!4v1725266640822!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="4"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7916517580666!2d103.85803067675293!3d1.299826898687831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b1be74cdb7%3A0xdc01759f24971744!2sPARKROYAL%20on%20Beach%20Road!5e0!3m2!1sen!2sjp!4v1725266721578!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <iframe class="map" data-index="5"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.813782077765!2d103.84355407675301!3d1.2857407987020455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190b152d690b%3A0xcceead8c67161ae3!2s3%20Upper%20Pickering%20St%2C%20Level%205%2C%20Singapore%20058289!5e0!3m2!1sen!2sjp!4v1725266795023!5m2!1sen!2sjp"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <script>
    // Function to update the active map and address
    function updateActiveMap(index) {
      // Remove 'active' class from all maps
      document.querySelectorAll('.map').forEach(map => {
        map.classList.remove('active');
      });

      // Remove 'active' class from all address items
      document.querySelectorAll('.products-locations__item').forEach(item => {
        item.classList.remove('active');
      });

      // Add 'active' class to the selected map
      document.querySelector('.map[data-index="' + index + '"]').classList.add('active');

      // Add 'active' class to the selected address item
      document.querySelector('.products-locations__item[data-index="' + index + '"]').classList.add('active');
    }

    // Set the first map and address as active by default
    updateActiveMap(0);

    // Add click event listener to all address items
    document.querySelectorAll('.products-locations__item').forEach(address => {
      address.addEventListener('click', function () {
        let index = this.getAttribute('data-index');
        updateActiveMap(index);
      });
    });
  </script>
</section>

<script>

  const classes = [
    '.products-hero__anim1',
    '.spa-technique__anim1',
    '.spa-technique__anim2',
    '.spa-technique__anim3',
    '.spa-products__anim1',
    ".spa-products__anim2",
    ".spa-staff__anim1",
    ".spa-staff__anim2",
    ".spa-staff__anim3",
    ".spa-treatments__anim1",
    ".products-locations__anim1"
  ];

  classes.forEach((cls) => {
    gsap.from(cls, {
      bottom: "-100",
      position: 'relative',
      opacity: 0,
      duration: 1,
      delay: 0.1,
      ease: "power3.out",
      stagger: 0.1,
      scrollTrigger: {
        trigger: cls,
        start: "top 80%",
      }
    });
  });

</script>