<style>
  .reviews-hero__container {
    padding: 40px 25px 70px;
  }

  .reviews-hero__subtitle {
    color: #DF1616;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
    display: block;
  }

  .reviews-hero__title {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 20px auto;
    max-width: 1000px;
  }

  .reviews-hero__text {
    color: #111;
    text-align: center;
    margin: 0 0 70px;
  }

  .reviews-hero__profile {
    display: grid;
    grid-template-columns: .5fr 1fr;
    max-width: 950px;
    margin: 0 auto;
    gap: 100px;
    align-items: center;
  }

  .reviews-hero__profileImg {
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .reviews-hero__profileTitle {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .reviews-hero__profileText {
    color: #111;
  }

  @media (max-width: 1024px) {
    .reviews-hero__title {
      font-size: 40px;
      margin: 20px auto;
      max-width: 1000px;
    }
  }

  @media (max-width: 768px) {
    .reviews-hero__title {
      font-size: 32px;
      margin: 20px auto;
      max-width: 1000px;
    }

    .reviews-hero__profile {
      display: grid;
      grid-template-columns: 1fr;
      max-width: 950px;
      margin: 0 auto;
      gap: 50px;
      align-items: center;
      text-align: center;
    }

    .reviews-hero__profileImg {
      border-radius: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      max-width: 300px;
      margin: 0 auto;
    }
  }
</style>

<section class="reviews-hero">
  <div class="reviews-hero__container page-width">
    <span class="reviews-hero__subtitle reviews-hero__anim1">KAWASAKI way</span>
    <h1 class="reviews-hero__title reviews-hero__anim1 heading">
      {{ 'templates.reviews.hero.title' | t }}
    </h1>
    <p class="reviews-hero__text reviews-hero__anim1 bodyText">
      {{ 'templates.reviews.hero.subtitle' | t }}
    </p>
    <div class="reviews-hero__profile reviews-hero__anim1">
      {{ images['263771813807f8c61362eb4743c2594c.png'] | image_url: width: '400' | image_tag: class:
      'reviews-hero__profileImg'}}
      <div>
        <h2 class="reviews-hero__profileTitle">
          {{ 'templates.reviews.hero.name' | t }}
        </h2>
        <p class="reviews-hero__profileText bodyText">
          {{ 'templates.reviews.hero.text' | t }}
        </p>
      </div>
    </div>
  </div>
</section>

{% comment %} KK WAY ABOUT {% endcomment %}
<style>
  /* ABOUT */
  .kkWay-about {
    background: #F6F6F6;
  }

  .kkWay-about__container {
    padding: 100px 25px;
  }

  .kkWay-about__title {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  .kkWay-about__subtitle {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 153.846% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    display: block;
    margin: 0 0 70px;
  }

  .kkWay-about__container>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 60px;
  }

  .kkWay-about__container>div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 180px;
    margin-top: 100px;
    align-items: center;
  }

  .kkWay-about__left {
    position: relative;
  }

  .kkWay-about__quoteImg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .kkWay-about__quote {
    color: #000;
    font-family: "Bodoni Moda", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 153.846% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    padding-top: 78px;
    display: block;
    margin: 0 0 16px;
  }

  .kkWay-about__signature {
    display: block;
    margin: 0 0 40px auto;
  }

  .kkWay-about__text {
    color: #111;
    max-width: 70%;
  }

  .kkWay-about__text2 {
    color: #111;
  }

  .kkWay-about__img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    max-height: 938px;
    object-position: 0;
  }

  .kkWay-about__img2 {
    height: 100%;
    aspect-ratio: unset;
    object-fit: cover;
    max-height: auto;
    object-position: 0;
  }

  @media (max-width: 1280px) {
    .kkWay-about__text {
      padding-right: 0;
    }

    .kkWay-about__text {
      max-width: 100%;
    }

    .kkWay-about__container>div:last-child {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px;
      margin-top: 100px;
      align-items: center;
    }
  }

  @media (max-width: 1024px) {
    .kkWay-about__container>div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
      margin-top: 60px;
    }

    .kkWay-about__container>div:last-child {
      display: flex;
      flex-direction: column-reverse;
      gap: 50px;
      margin-top: 50px;
      align-items: center;
    }

    .kkWay-about__img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }
</style>

<section class="kkWay-about">
  <div class="kkWay-about__container page-width">
    <h2 class="kkWay-about__title kkWay-about__anim1 heading">
      {{ 'templates.reviews.story.sectionTitle' | t }}
    </h2>
    <div>
      <div class="kkWay-about__left kkWay-about__anim1">
        <img class="kkWay-about__quoteImg"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/quote-icon.svg?v=1726193824" />
        <span class="kkWay-about__quote">
          {{ 'templates.reviews.story.quote' | t }}
        </span>
        <img class="kkWay-about__signature"
          src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/KKsign1_1.svg?v=1726193981" />
        <p class="kkWay-about__text bodyText">
          {{ 'templates.reviews.story.text1' | t |  replace: 'htmlbr', '<br>' }}
        </p>
      </div>
      {{ images['reviews-story-img-1.png'] | image_url: width: 1000 | image_tag: class: 'kkWay-about__img
      kkWay-about__anim1' }}
    </div>
    <div>
      {{ images['kk-way-effect.jpg'] | image_url: width: 1000 | image_tag: class: 'kkWay-about__img2 kkWay-about__anim2'
      }}
      <p class="kkWay-about__text2 kkWay-about__anim2 bodyText">
        {{ 'templates.reviews.story.text2' | t |  replace: 'htmlbr', '<br>' }}
      </p>
    </div>
  </div>
</section>
{% comment %} KK WAY ABOUT {% endcomment %}

{% section 'home-kawasaki-way' %}

{% comment %} KK WAY {% endcomment %}
<style>
  /* ########## KK WAY ########## */
  .products-kkWay__container {
    text-align: center;
    padding: 100px 25px;
  }

  .products-kkWay__title {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .products-kkWay__text {
    color: #111;
    text-align: center;
    margin: 0 auto 60px;
    max-width: 700px;
  }

  .products-kkWay__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .products-kkWay__item {
    aspect-ratio: 5/6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .products-kkWay__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .products-kkWay__cardTitle {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  .products-kkWay__cardSubtitle {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Trivia Serif Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .products-kkWay__cardBottom {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #1C1952;
  }

  @media (max-width: 1024px) {
    .products-kkWay__cardTitle {
      font-size: 2vw;
      line-height: 1.25;
    }

    .products-kkWay__cardSubtitle {
      font-size: 1vw;
    }

    .products-kkWay__cards {
      gap: 10px;
    }
  }

  @media (max-width: 600px) {
    .products-kkWay__container {
      padding: 50px 25px;
    }

    .products-kkWay__cardTitle {
      font-size: 24px;
    }

    .products-kkWay__cardSubtitle {
      font-size: 14px;
    }

    .products-kkWay__text {
      font-size: 16px;
      line-height: 1.5;
    }

    .products-kkWay__cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
</style>

<section class="products-kkWay"></section>
<div class="products-kkWay__container page-width">
  <h2 class="products-kkWay__title products-kkWay__anim1 heading">
    {{ 'templates.reviews.kkWay.title' | t }}
  </h2>
  <p class="products-kkWay__text products-kkWay__anim1 bodyText">
    {{ 'templates.reviews.kkWay.subtitle' | t }}
  </p>
  <div class="products-kkWay__cards">
    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/products" class="products-kkWay__item products-kkWay__anim2">
      {{ images['0864fe80dc0cfddd09fc6ec53621482b.png'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">
          {{ 'templates.reviews.kkWay.card1title' | t }}
        </h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/spa" class="products-kkWay__item products-kkWay__anim2">
      {{ images['4b09b60a99c28451d9171ba20c1b8841.png'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">
          {{ 'templates.reviews.kkWay.card2title' | t }}
        </h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/academy" class="products-kkWay__item products-kkWay__anim2">
      {{ images['63aa50857e9f6a57ab233f676a2ca893.png'] | image_url: width: 750 | image_tag }}
      <div class="products-kkWay__cardBottom">
        <h3 class="products-kkWay__cardTitle heading">
          {{ 'templates.reviews.kkWay.card3title' | t }}
        </h3>
        <span class="products-kkWay__cardSubtitle">kazumasa kawasaki</span>
      </div>
    </a>
  </div>
</div>
</section>
{% comment %} KK WAY {% endcomment %}

<script>
  const classes = [
    '.reviews-hero__anim1',
    '.kkWay-about__anim1',
    '.kkWay-about__anim2',
    '.products-kkWay__anim1',
    '.products-kkWay__anim2'
  ]

  classes.forEach((cls) => {
    gsap.from(cls, {
      bottom: "-100",
      position: 'relative',
      opacity: 0,
      duration: 1,
      delay: 0.1,
      ease: "power3.out",
      stagger: 0.1,
      scrollTrigger: {
        trigger: cls,
        start: "top 80%",
      }
    })
  })
</script>